---
page_title: About Me
header_image: /assets/images/placeholder 010.jpg
certifications:
  - certification-name: YTT 200hr
    certification-provider: Yoga Alliance
    certification-logo_image: /assets/images/yoga-alliance.png
    certification-date: April 2018
    certification-teacher: Elena Brower
  - certification-name: YTT 300hr
    certification-provider: Yoga Institute
    certification-logo_image: /assets/images/yoga-alliance.png
    certification-date: June 2018
    certification-teacher: Meghan Currie
affiliates:
  - affiliate-name: Doterra
    affiliate-description: Organic essential oils
    affiliate-link_url: https://www.doterra.com
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}
<body>
  <header id="top">
    {% include desktop-navbar.html %}
    {% include mobile-nav.html %}
    <section class="about-header padding-outer center">
      <div class="grid-noGutter-middle">
        <div class="col-6_sm-12">
          <!-- Put the frame inside the column otherwise Gridlex overrides the padding values -->
          <div class="responsive-frame">
            <svg class="offset-frame" height="400" width="300">
            </svg>
            <!-- Give the size to the image, not the container. Using 100% for width and height makes it fill the whole space responsively -->
            <img src="{{page.header_image}}" class="responsive-img" alt="">
          </div>
        </div>
        <div class="col-6_sm-12 center padding-inner">
          <div class="highlight-heading flex-center">
            <h2 class="editable">
              Insert favorite quote here
            </h2>
            <!-- <img src="/assets/graphics/brush-stroke-1.png" alt=""> -->
          </div>
          <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="about-logo">
            <img src="{{site.data.settings.basic_settings.site_logo_image}}" alt="">
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="bg-light padding-outer">
    <div class="grid-noGutter-spaceAround">
      <div class="col-12 center">
        <!-- <h2 class="editable">
          Certifications
        </h2> -->
      </div>
      {% for certification in page.certifications %}
      <div class="col-4 certification-item">
        <div class="certification-content center">
          <div class="cert-logo">
            <img src="{{certification.certification-logo_image}}"alt="">
          </div>
          <h2>
            {{certification.certification-name}}
          </h2>
          <h4>
            {{certification.certification-provider}}
          </h4>
          <h4>
            {{certification.certification-date}}
          </h4>
          <h4>
            {{certification.certification-teacher}}
          </h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section class="inspiration">
    <div class="grid-noGutter">
      <div class="col-6_sm-12-middle flex-center bg-primary">
        <div class="overview">
          <h2>
            What inspires me
          </h2>
        </div>
      </div>
      <div class="col-6_sm-12-middle practical-info">
        <div class="padding-outer">
          <h3 class="editable">
            Books:
          </h3>
          <p class="editable">
            Some content about books here
          </p>
          <h3 class="editable">
            Music:
          </h3>
          <p class="editable">
            Some of your favorite artists go here
          </p>
          <h3 class="editable">
            Podcasts
          </h3>
          <p class="editable">
            Share some of your favorite podcasts here
          </p>
        </div>
      </div>
    </div>
    <div class="grid-noGutter-reverse">
      <div class="col-6_sm-12-middle flex-center bg-secondary">
        <div class="overview">
          <h2 class="editable">
            Who I support
          </h2>
        </div>
      </div>
      <div class="col-6_sm-12-middle practical-info">
        <div class="padding-outer">
          <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          {% for affiliate in page.affiliates %}
          <div class="affiliate-info">
            <a href="{{affiliate.affiliate-link_url}}">
              <h3>
                {{affiliate.affiliate-name}}
              </h3>
            </a>
            <p>
              {{affiliate.affiliate-description}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
