---
layout: default
page_title: Claudia Neumann Yoga
banner_title: Happiness is inside you.
banner_image: /assets/images/placeholder 009.jpg
add_banner_button: true
banner-cta-button_url: '/'
banner-cta-button_text: Learn More
include-profile-thumb_image: true
include-feature-video: true
feature-video_url: 'https://youtube.com'
feature-video-cover_image:
thumb-profile-pic_image: assets/images/placeholder 010.jpg
feature-box-1_image: assets/images/placeholder 003.jpg
feature-box-1-title: Yoga
feature-box-1_url: /yoga
feature-box-2_image: assets/images/placeholder 007.jpg
feature-box-2-title: Healing
feature-box-2_url: /reiki
feature-box-3_image: assets/images/placeholder 008.jpg
feature-box-3-title: Retreats
feature-box-1_url: /retreats
feature-retreat_image: assets/images/placeholder 008.jpg
---

    <main>
      <section class="intro-section padding-outer">
        <div class="flex-center grid-noGutter">
          <!-- Maybe best is to make this an "Include" so to use the same code for other sections -->
          {% if page.include-profile-thumb_image == true %}
          <div class="col-12 thumb-profile-pic flex-center">
            <img src="{{page.thumb-profile-pic_image}}" alt="Claudia Neumann Yoga">
          </div>
          {% endif %}
          <div class="col-12 center">
            <h2 class="editable">
              Smile!
            </h2>
            <p class="editable">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- triple feature box section -->
    {% include triple-feature.html %}

    <!-- upcoming retreat section -->
    <section class="grid-noGutter padding-outer retreat-feature bg-light">
      <div class="col-6_md-12 section-lg-feature-image">
        <img src="{{page.feature-retreat_image}}" alt="">
      </div>
      <div class="col-6_md-12">
        <div class="retreat-feature-content">
          <h2 class="editable">
            Upcoming retreat
          </h2>
          <!-- later change these to Liquid tags so to pull the last retreat information from the colletion -->
          <h3 class="editable">
            Location: Algarve, Portugal
          </h3>
          <h3 class="editable">
            Dates: 8-15th July, 2020
          </h3>
          <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="learnmore-button">
            <h4>
              Join waiting list
            </h4>
          </a>
        </div>
      </div>
    </section>

    <!-- Community yoga section -->
     <section class="community-section">
      <div class="full-width-banner">
        <img src="/assets/images/placeholder 006.jpg" alt="">
        <div class="padding-outer">
          <div class="full-width-banner-content padding-inner">
            <h2>
              Community
            </h2>
            <p class="editable">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="schedule-button">
              <h4>
                Check the schedule
              </h4>
            </a>
          </div>
          <div class="logo-overlay-right">
            <img src="assets/images/Yogismile_Logo_color_transparent.png" alt="Yogismile Logo">
          </div>
        </div>
      </div>
    </section>

    {% if page.include-feature-video == true %}
      {% include feature-video.html%}
    {% endif %}
