---
layout: default
page_title: Claudia Neumann Yoga
banner_heading: Every body is a yoga body
banner_image: /assets/images/srcset/480/katherine-hanlon-unsplash.jpg
add_banner_button: false
banner-cta-button_url: '/'
banner-cta-button_text: Learn More
include-profile-thumb_image: true
include-feature-video: true
feature-video_url: https://www.youtube.com/embed/oX6I6vs1EFs
feature-video-cover_image:
thumb-profile-pic_image: /assets/images/srcset/480/claudia-neumann-yoga-101.jpg
feature-box-1_image: /assets/images/srcset/480/claudia-neumann-yoga-114.jpg
feature-box-1-title: Yoga
feature-box-1_url: /yoga
feature-box-2_image: /assets/images/srcset/600/joanna-kosinska-unsplash.jpg
feature-box-2-title: Healing
feature-box-2_url: /offerings/reiki
feature-box-3_image: /assets/images/srcset/480/claudia-neumann-yoga-128.jpg
feature-box-3-title: Retreats
feature-box-3_url: /retreats
feature-retreat_image: /assets/images/srcset/480/claudia-neumann-yoga-107.jpg
---

    <main>
      <section class="intro-section padding-outer">
        <div class="flex-center grid-noGutter">
          <!-- Maybe best is to make this an "Include" so to use the same code for other sections -->
          {% if page.include-profile-thumb_image == true %}
          <div class="col-12 thumb-profile-pic flex-center ">
            <picture>
              <source srcset="{{page.thumb-profile-pic_image | replace: "480", "800"}}" media="(min-width: 768px)">
              <source srcset="{{page.thumb-profile-pic_image | replace: "480", "600"}}" media="(min-width: 600px)">
              <img src="{{page.thumb-profile-pic_image}}" class="responsive-img" alt="">
            </picture>
            <!-- <img src="{{page.thumb-profile-pic_image}}" class="responsive-img" alt="Claudia Neumann Yoga"> -->
          </div>
          {% endif %}
          <div class="col-12 center">
            <h2 class="editable">
              Smile!
            </h2>
            <p class="editable">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- triple feature box section -->
    {% include triple-feature.html %}

    <!-- upcoming retreat section -->
    <section class="grid-noGutter padding-outer section-feature bg-dark flex-right">
      <div class="col-6_md-12 section-lg-feature-image">
        <picture>
          <source srcset="{{page.feature-retreat_image | replace: "480", "2000"}}" media="(min-width: 801px)">
          <source srcset="{{page.feature-retreat_image | replace: "480", "800"}}" media="(min-width: 800px)">
          <source srcset="{{page.feature-retreat_image | replace: "480", "800"}}" media="(min-width: 768px)">
          <source srcset="{{page.feature-retreat_image | replace: "480", "600"}}" media="(min-width: 600px)">
          <img src="{{page.feature-retreat_image}}" class="responsive-img" loading="lazy" alt="">
        </picture>
        <!-- <img src="{{page.feature-retreat_image}}" class="responsive-img" alt=""> -->
      </div>
      <div class="col-6_md-12 section-feature-content">
        <div class="padding-outer">
          <h2 class="editable">
            Upcoming/featured retreat
          </h2>
          <h3 class="editable">
            Location: Algarve, Portugal
          </h3>
          <h3 class="editable">
            Dates: 8-15th July, 2020
          </h3>
          <p class="editable">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="learn-more-button editable">

              Join waiting list

          </a>
        </div>
      </div>
    </section>

    {% include community-section.html %}

    {% if page.include-feature-video == true %}
      {% include feature-video.html%}
    {% endif %}
