---
layout: default
page_title: Retreats
_hidden_header: retreats
locations:
  - location-name: Portugal
    location-thumbnail_image: /assets/images/placeholder 005.jpg
    location-overview: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    target_url: /retreats/portugal-2020
  - location-name: Marocco
    location-thumbnail_image: /assets/images/placeholder 003.jpg
    location-overview: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    target_url: /retreats/morrocco-2021
  - location-name: Bali
    location-thumbnail_image: /assets/images/placeholder 004.jpg
    location-overview: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    target_url: /retreats/bali-2021
add_testimonials: false
---

<main>
  <section class="retreats-showcase center">
    <h2>
      All Retreats
    </h2>
    <div class="grid-noGutter-spaceBetween">

      {% for retreat in site.retreats offset:1 %}
      {% if retreat.display == false %}
      <div class="col-6_sm-12 padding-inner retreat-box">
        <a href="{{retreat.url}}">
          <div class="retreat-thumb">
            <img src="{{retreat.banner_image}}" alt="{{retreat.banner_image-alt-text}}">
            <h3>
              {{retreat.banner_heading}}
            </h3>
          </div>
        </a>
        <p>
          {{retreat.retreat-recommended-for_html}}
        </p>
        <h3>
          {{retreat.retreat-date}}
        </h3>
        <a href="{{retreat.url}}" class="learn-more-button">
          More
        </a>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </section>
</main>

<section class="highlights">
  <div class="padding-inner">
    <div class="grid-noGutter">
      <div class="col-12 center">
        <h2>
          locations
        </h2>
      </div>
      {% for location in page.locations %}
      <div class="col-4_md-12">
        <a href="{{location.target_url}}#location">
          <div class="location-thumb center">
            <img src="{{location.location-thumbnail_image}}" alt="">
          </div>
          <h3> {{location.location-name}} </h3>
          <p class="padding-inner center">
            {{location.location-overview}}
          </p>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

{% if page.add_testimonials == true %}
  {% include testimonials.html %}
{% endif %}
