<!-- jQuery loaded via Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- FontAwesome script -->
<script src="https://kit.fontawesome.com/b28a5faa19.js" crossorigin="anonymous"></script>

<!-- <script type="text/javascript">

  $(document).ready(function() {

    console.log('hello from jquery');

    $(".burger-menu").click(function(){

      $(".mobile-nav").toggleClass("hide");

      $(this).toggleClass("active");

      console.log("burger clicked");

    }); //Closes Click Burger function

  }); //Closes Ready function

</script> -->
<!-- Burger menu -->
<script type="text/javascript" src="/js/scripts.js"></script>
<!-- End of burger menu -->
<script src="/js/lazysizes.min.js" type="text/javascript"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7509518.js"></script>
<!-- End of HubSpot Embed Code -->
<!-- Cookie banner -->
<script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
<link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
<script src="/js/cookies.js" type="text/javascript"></script>
<!-- End cookie banner -->
