<section>
  <div class="grid-noGutter">
    <div class="col-12-middle overview">
      <div class="padding-outer center">
        <h3 class="editable">
          Schedule a session now
        </h3>
        <p>
          Click below to check my available schedule and set a date for our private session!
        </p>
        <a href="{{site.data.settings.calendars.yoga_calendly_url}}" class="schedule-button">
        <h3>
          Book now
        </h3>
      </a>
      </div>
    </div>
    <!-- <div class="col-6_sm-12 overview-img-box">
      <img src="{{page.box-2_image}}" alt="">
    </div> -->
  </div>
</section>
