<!-- This is the book-private-session include -->
<section>
  <div class="grid-noGutter">
    <div class="col-12-middle overview">
      <div class="padding-outer center">
        <h3 class="editable">
 	Schedule a session now
 </h3>
        <p class="editable">
          Click below to check my available schedule and set a date for our private session!
        </p>
        <a href="{{page.book_now_button_url}}" class="schedule-button editable">
            Book now
        </a>
      </div>
    </div>
  </div>
</section>
