<!-- This is the book-private-session include -->
<section>
  <div class="grid-noGutter">
    <div class="col-12-middle overview">
      <div class="padding-outer center">
        <h3 class="editable">
          Schedule a session now
        </h3>
        <p>
          Click below to check my available schedule and set a date for our private session!
        </p>
        <a href="{{site.data.settings.calendars.yoga_calendly_url}}" class="schedule-button">

            Book now

        </a>
      </div>
    </div>
  </div>
</section>
