<!-- community-section.html -->
 <section class="community-section">
  <div class="full-width-banner">
    <img src="/assets/images/placeholder 006.jpg" class="responsive-banner-image" alt="">
    <div class="padding-outer">
      <div class="full-width-banner-content padding-inner">
        <h2 class="editable">
          Community
        </h2>
        <p class="editable">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="/community" class="schedule-button">
          <h4 class="editable">
            Event Schedule
          </h4>
        </a>
      </div>
    </div>
  </div>
  <div class="logo-overlay-right">
    <img src="{{site.data.settings.basic_settings.site_logo_image}}" alt="Yogismile Logo">
  </div>
</section>
