    <div class="navbar grid-noGutter-spaceBetween">
      <div class="navbar-logo col-6-middle">
        <a href="/" class="navbar-link">
          <img src="{{site.data.settings.basic_settings.site_logo}}" alt="Yogismile by Claudia Neumann">
        </a>
        <a href="/" class="navbar-link">
          <h2>
            <span>Claudia Neumann</span> Yoga
          </h2>
        </a>
      </div>
      <nav class="navbar-menu-desktop center col-6-middle mobile-hide">
        <a href="/about">
          {{site.data.settings.nav-menu.menu-1-name}}
        </a>
        <a href="/yoga-all">
          {{site.data.settings.nav-menu.menu-2-name}}
        </a>
        <a href="/reiki">
          {{site.data.settings.nav-menu.menu-3-name}}
        </a>
        <a href="/retreats">
          {{site.data.settings.nav-menu.menu-4-name}}
        </a>
        <a href="/blog">
          {{site.data.settings.nav-menu.menu-5-name}}
        </a>
        <a href="/contact">
          {{site.data.settings.nav-menu.menu-6-name}}
        </a>
      </nav>
    </div>
