<div class="navbar grid-spaceBetween-noGutter">
  <div class="navbar-logo col-6-left-middle">
    <a href="/" class="navbar-link">
      <img src="assets/images/Yogismile_Logo_color_transparent.png" alt="Yogismile by Claudia Neumann">
    </a>
    <a href="/" class="navbar-link">
      <h2>
        <span>Claudia Neumann</span> Yoga
      </h2>
    </a>
  </div>
  <nav class="navbar-menu-desktop flex-center col-6-middle mobile-hide">
    <a href="/about">
      About
    </a>
    <a href="/yoga">
      Practice
    </a>
    <a href="/reiki">
      Heal
    </a>
    <a href="/retreats">
      Grow
    </a>
    <a href="/blog">
      Health
    </a>
    <a href="/contact">
      Contact
    </a>
  </nav>
</div>
