<footer id="footer" class="padding-outer">
  <div class="grid-noGutter-spaceAround">
    <div class="col-5_md-12-bottom">
      <a href="#top" class="footer-brand-link">
        <img class="footer-logo" src="{{site.data.settings.basic_settings.site_logo_image}}" alt="Yogismile by Claudia Neumann" />
      </a>
      <a href="#top" class="footer-brand-link">
        <h2 class="footer-title">
          Claudia Neumann Yoga
        </h2>
      </a>
      <div class="social-box">
        <div class="footer-social-icon">
          <a href="{{site.data.settings.social.facebook_url}}" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
      </div>
      <div class="social-box">
        <div class="footer-social-icon">
          <a href="{{site.data.settings.social.instagram_url}}" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="social-box">
        <div class="footer-social-icon">
          <a href="{{site.data.settings.social.youtube_url}}" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="email-link">
        <a href="mailto:{{site.data.settings.basic_settings.contact-email}}">
          {{site.data.settings.basic_settings.contact-email}}
        </a>
      </div>
    </div>
    <div class="col-5_md-12 footer-form">
      <h2 class="editable">
        Grow together
      </h2>
      <p class="editable">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <form action="index.html" method="post">
        <input type="text" name="name" value="" placeholder="NAME" />
        <input type="email" name="email" value="" placeholder="EMAIL" />
        <button type="button" name="button" class="form-send-button">
          Join me
        </button>
      </form>
    </div>
  </div>
</footer>
