<section id="schedule" class="schedule-calendar padding-outer">
  <div class="schedule-text-box">
    <h2 class="editable heading">
 	Let's practice!
 </h2>
    <p class="editable">
 	In my classes I make everyone feel comfortable and safe within their skill level and ability to do yoga. No one is required to do or to try any pose, and everyone is expected to practice safety and to stay within their own physical limits. The benefits from practicing yoga do not require competition or perfection. The benefits from practicing yoga come from maintaining and enhancing your body's ability to move, to stay flexible, and to experience the free flow of energy &amp; light within.
 </p>
  </div>
  <div class="schedule-calendar-box padding-inner grid-spaceBetween-noGutter">
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
    <div class="cal-column col-2 mobile-hide">
      <h2>
        <strong>Day</strong>
      </h2>
    </div>
    <div class="cal-column col-2 mobile-hide">
      <h2>
        <strong>Time</strong>
      </h2>
    </div>
    <div class="cal-column col-2 mobile-hide">
      <h2 class="editable">
 	<strong>Style</strong>
 </h2>
    </div>
    <div class="cal-column col-2 mobile-hide">
      <h2 class="editable">
 	<strong>Location</strong>
 </h2>
    </div>
    <div class="cal-column col-2 mobile-hide">
      <h2 class="editable">
 	<strong>Bookings</strong>
 </h2>
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>

    <!-- Create a list called monday to represent contents from _yoga folder that contain Monday as value on the Front Matter Array Yoga->Schedule->Day -->

    {% assign monday = site.yoga | contains:"yoga.schedule.day", "Monday" %}

    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
    <div class="cal-column col-2_md-12-middle bg-primary-shade">
      <h3 class="flex-center">
        Monday
      </h3>
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      <!-- For item 'yoga' in the new list 'monday' -->
      {% for yoga in monday %}
      <!-- and for the array 'class' in item 'yoga.schedule' -->
        {% for class in yoga.schedule %}
        <!-- and only if the array 'class.day' is equal to 'Monday' -->
          {% if class.day == 'Monday' %}
          <!-- for all classes in the class array 'classes', print this code -->
            {% for class in class.classes %}
              <h3>
                {{class.time-bracket}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in monday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Monday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in monday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Monday' %}
            {% for class in class.classes %}
              {% if class.is_link %}
              <a href="{{class.studio_url}}" target="_blank">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
              {% else %}
              <h3>
                {{class.studio}}
              </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in monday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Monday' %}
            {% for class in class.classes %}
                {% if class.is_bookable %}
                <a href="{{class.add-to-cal}}" target="_blank">
                  <h3>
                    Book now
                  </h3>
                </a>
                {% else %}
                <h3 class="editable">
                  Closed group
                </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
    <!-- <hr class="col-12"> -->

  {% assign tuesday = site.yoga | contains:"yoga.schedule.day", "Tuesday" %}
  <div class="col-1 mobile-hide">
<!-- spacer column -->
  </div>
    <div class="cal-column col-2_md-12-middle">
      <h3 class="flex-center">
        Tuesday
      </h3>
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time-bracket}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
              {% if class.is_link %}
              <a href="{{class.studio_url}}" target="_blank">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
              {% else %}
              <h3>
                {{class.studio}}
              </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
                {% if class.is_bookable %}
                <a href="{{class.add-to-cal}}" target="_blank">
                  <h3>
                    Book now
                  </h3>
                </a>
                {% else %}
                <h3 class="editable">
                  Closed group
                </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
<!-- <hr class="col-12"> -->
  {% assign wednesday = site.yoga | contains:"yoga.schedule.day", "Wednesday" %}
  <div class="col-1 mobile-hide">
<!-- spacer column -->
  </div>
    <div class="cal-column col-2_md-12-middle bg-primary-shade">
      <h3 class="flex-center">
        Wednesday
      </h3>
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time-bracket}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
             {% if class.is_link %}
              <a href="{{class.studio_url}}" target="_blank">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
              {% else %}
              <h3>
                {{class.studio}}
              </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
                {% if class.is_bookable %}
                <a href="{{class.add-to-cal}}" target="_blank">
                  <h3>
                    Book now
                  </h3>
                </a>
                {% else %}
                <h3 class="editable">
                  Closed group
                </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
<!-- <hr class="col-12"> -->
  {% assign thursday = site.yoga | contains:"yoga.schedule.day", "Thursday" %}
  <div class="col-1 mobile-hide">
<!-- spacer column -->
  </div>
    <div class="cal-column col-2_md-12-middle">
      <h3 class="flex-center">
        Thursday
      </h3>
    </div>

    <div class="cal-column col-2_md-3-middle">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time-bracket}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
              {% if class.is_link %}
              <a href="{{class.studio_url}}" target="_blank">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
              {% else %}
              <h3>
                {{class.studio}}
              </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
                {% if class.is_bookable %}
                <a href="{{class.add-to-cal}}" target="_blank">
                  <h3>
                    Book now
                  </h3>
                </a>
                {% else %}
                <h3 class="editable">
                  Closed group
                </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
<!-- <hr class="col-12"> -->
  {% assign friday = site.yoga | contains:"yoga.schedule.day", "Friday" %}
  <div class="col-1 mobile-hide">
<!-- spacer column -->
  </div>
    <div class="cal-column col-2_md-12-middle bg-primary-shade">
      <h3 class="flex-center">
        Friday
      </h3>
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time-bracket}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
              {% if class.is_link %}
                <a href="{{class.studio_url}}" target="_blank">
                  <h3>
                    {{class.studio}}
                  </h3>
                </a>
               {% else %}
               <h3>
                {{class.studio}}
               </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
                {% if class.is_bookable %}
                <a href="{{class.add-to-cal}}" target="_blank">
                  <h3>
                    Book now
                  </h3>
                </a>
                {% else %}
                <h3 class="editable">
                  Closed group
                </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
<!-- <hr class="col-12"> -->
  {% assign saturday = site.yoga | contains:"yoga.schedule.day", "Saturday" %}
  <div class="col-1 mobile-hide">
<!-- spacer column -->
  </div>
    <div class="cal-column col-2_md-12-middle">
      <h3 class="flex-center">
        Saturday
      </h3>
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time-bracket}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              {% if class.is_link %}
              <a href="{{class.studio_url}}" target="_blank">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
              {% else %}
              <h3>
                {{class.studio}}
              </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              {% if class.is_bookable %}
                <a href="{{class.add-to-cal}}" target="_blank">
                  <h3>
                    Book now
                  </h3>
                </a>
                {% else %}
                <h3 class="editable">
                  Closed group
                </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
<!-- <hr class="col-12"> -->
  {% assign sunday = site.yoga | contains:"yoga.schedule.day", "Sunday" %}
  <div class="col-1 mobile-hide">
<!-- spacer column -->
  </div>
    <div class="cal-column col-2_md-12-middle bg-primary-shade">
      <h3 class="flex-center">
        Sunday
      </h3>
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time-bracket}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
              {% if class.is_link %}
              <a href="{{class.studio_url}}" target="_blank">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
              {% else %}
              <h3>
                {{class.studio}}
              </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2_md-3-middle bg-primary-shade">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
                {% if class.is_bookable %}
                <a href="{{class.add-to-cal}}" target="_blank">
                  <h3>
                    Book now
                  </h3>
                </a>
                {% else %}
                <h3 class="editable">
                  Closed group
                </h3>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-1 mobile-hide">
<!-- spacer column -->
    </div>
</div></section>
