
<header id="top">
  {% include desktop-navbar.html %}
  {% include mobile-nav.html %}
  <div class="header-banner">
    <picture>
      <source srcset="{{page.banner_image | replace: "480", "2000"}}" media="(min-width: 1400px)">
      <source srcset="{{page.banner_image | replace: "480", "800"}}" media="(min-width: 800px)">
      <source srcset="{{page.banner_image | replace: "480", "600"}}" media="(min-width: 600px)">
      <img src="{{page.banner_image}}" class="responsive-img" alt="{{page.banner_image-alt-text}}">
    </picture>
    <div class="header-text-box">
      <h1>
      {{page.banner_heading}}
      </h1>
      <div class="flex-center">
        <!-- The link redirect of the button has to be declared on front matter on a per-page basis -->
        {% if page.add_banner_button == true %}
          {% include banner-cta-button.html %}
        {% endif %}
        {% if page._hidden_community == true %}

        <img id="community-banner-logo" src="{{site.data.settings.basic_settings.site_logo_image}}" alt="" class="community-banner-logo">
        {% endif %}
      </div>
    </div>
  </div>
</header>
