
  <head>
    <meta charset="utf-8">
    <title>
      {{page.page_title}}
    </title>

    <!-- Gridlex framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <!-- Google Font embed codes; these are being pulled from the settings.yml file allowing the editor to change them as they wish -->
     {{ site.data.settings.fonts.heading_font_code_block }}
     {{ site.data.settings.fonts.paragraph_font_code_block }}
     <!-- jQuery loaded via Google CDN -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- FontAwesome script -->
    <script src="https://kit.fontawesome.com/b28a5faa19.js" crossorigin="anonymous"></script>
    <!-- Media Query metatag for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include og.html %}
    <!-- Main stylesheet, keep at bottom of head -->
    <link rel="stylesheet" href="/styles/main.css">
  </head>
