<!-- this is highlights section include -->
<section class="highlights">
  <div class="padding-inner">
    <div class="grid-noGutter-spaceAround">
      <div class="col-12 center">
        <h2>
          Benefits
        </h2>
      </div>
      <div class="col-4_md-6_sm-12">
        <div class="highlight-icon center">
          <img src="/assets/graphics/healing-hands-06.svg" alt="">
        </div>
        <p class="padding-inner center">
          {{page.highlight-1_html}}
        </p>
      </div>
      <div class="col-4_md-6_sm-12">
        <div class="highlight-icon center">
          <img src="/assets/graphics/healing-hands-05.svg" alt="">
        </div>
        <p class="padding-inner center">
          {{page.highlight-2_html}}
        </p>
      </div>
      <div class="col-4_md-6_sm-12">
        <div class="highlight-icon center">
          <img src="/assets/graphics/healing-hands-03.svg" alt="">
        </div>
        <p class="padding-inner center">
          {{page.highlight-3_html}}
        </p>
      </div>
    </div>
  </div>
</section>
