<div class="grid-noGutter bg-reset">
  <div class="col-6_sm-12 flex-center info-box">
    <picture>
      <source srcset="/assets/images/srcset/800/sabine-schulte-unsplash.jpg" media="(min-width: 800px)">
      <source srcset="/assets/images/srcset/800/sabine-schulte-unsplash.jpg" media="(min-width: 768px)">
      <source srcset="/assets/images/srcset/600/sabine-schulte-unsplash.jpg" media="(min-width: 600px)">
      <img src="/assets/images/srcset/480/sabine-schulte-unsplash.jpg" class="responsive-img" loading="lazy" alt="">
    </picture>
    <!-- <img src="/assets/images/srcset/600/sabine-schulte-unsplash.jpg" loading="lazy" title="Photo by Sabine Schulte on Unsplash" alt="Photo by Sabine Schulte on Unsplash" class="responsive-img"> -->
    <span class="gradient mobile-hide"></span>
    <h2>
      Practical info
    </h2>
  </div>
  <div class="col-6_sm-12 flex-center">
    <div class="practical-info">
      {% if page._hidden_info-box == 'yoga' %}
        {% include yoga-info.html %}
      {% elsif page._hidden_info-box == 'retreat' %}
        {% include retreat-info.html %}
      {% else %}
        {% include offering-info.html %}
      {% endif %}
    </div>
  </div>
</div>
