<div class="mobile-nav hide">
  <nav class="mobile-navbar center">
    <ul>
      <li>
        <a href="{{site.data.settings.nav-menu.menu-1-link_url}}">
          {{site.data.settings.nav-menu.menu-1-name}}
        </a>
      </li>
      <li>
        <a href="{{site.data.settings.nav-menu.menu-2-link_url}}">
          {{site.data.settings.nav-menu.menu-2-name}}
        </a>
      </li>
      <li>
        <a href="{{site.data.settings.nav-menu.menu-3-link_url}}">
          {{site.data.settings.nav-menu.menu-3-name}}
        </a>
      </li>
      <li>
        <a href="{{site.data.settings.nav-menu.menu-4-link_url}}">
          {{site.data.settings.nav-menu.menu-4-name}}
        </a>
      </li>
      <li>
        <a href="/retreats"> Retreats </a>
      </li>
      <li>
        <a href="/community"> Community </a>
      </li>
      <li>
        <a href="{{site.data.settings.nav-menu.menu-5-link_url}}" target="_blank">
          {{site.data.settings.nav-menu.menu-5-name}}
        </a>
      </li>
      <li>
        <a href="{{site.data.settings.nav-menu.menu-6-link_url}}" target="_blank">
          {{site.data.settings.nav-menu.menu-6-name}}
        </a>
      </li>
    </ul>
  </nav>
</div>
