<!-- Required meta tags for social media link sharing -->
<meta property="og:title" content="{{page.page_title}}">
<meta property="og:description" content="">
<meta property="og:image" content="{{page.banner_image}}">
<meta property="og:url" content="{{page.url}}">
<meta name="twitter:card" content="{{page.banner_image}}">

<!-- Recommended -but not necessary- meta tags for social media link sharing -->
<meta property="og:site_name" content="{{site.data.settings.basic_settings.site_name}}">
<!-- <meta name="twitter:image:alt" content="Alt text for image"> -->
