<section class="private-session-section">
 <div class="full-width-banner">
   <picture>
     <source data-srcset="{{site.data.settings.images.private-section_image | replace: "480", "800"}}" media="(min-width: 800px)">
     <source data-srcset="{{site.data.settings.images.private-section_image | replace: "480", "800"}}" media="(min-width: 768px)">
     <source data-srcset="{{site.data.settings.images.private-section_image | replace: "480", "600"}}" media="(min-width: 600px)">
     <img data-src="{{site.data.settings.images.private-section_image}}" class="responsive-img lazyload" alt="">
   </picture>
   <div class="padding-outer">
     <div class="full-width-banner-content padding-inner">
       <h2 class="editable">
         Private sessions
       </h2>
       <p class="editable">
         Private sessions are the perfect option for those with limited time or specific requirements. On-demand classes, at a location of your choice: organize small groups and let's practice together! Private yoga sessions are also perfect for those who want to discover yoga under dedicated guidance.
       </p>
       <a href="/yoga/private-session" class="schedule-button editable">

          Learn more

       </a>
     </div>
   </div>
 </div>
</section>
