<section class="private-session-section">
 <div class="full-width-banner">
   <img src="{{site.data.settings.images.private-section_image}}" class="responsive-img" alt="">
   <div class="padding-outer">
     <div class="full-width-banner-content padding-inner">
       <h2 class="editable">
         Private sessions
       </h2>
       <p class="editable">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       </p>
       <a href="/yoga/private-session" class="schedule-button editable">

          Learn more

       </a>
     </div>
   </div>
 </div>
</section>
