<div class="col-6_sm-12 padding-inner">
  <a href="{{retreat.url}}">
    <div class="retreat-box">
      <div class="retreat-card">
        <div class="retreat-thumb flex-center">
          <img src="{{retreat.banner_image}}" class="responsive-img" alt="{{retreat.banner_image-alt-text}}">
          <h3>
            {{retreat.banner_heading}}
          </h3>
        </div>
        <p>
          {{retreat.retreat-recommended-for_html}}
        </p>
        <h3 class="date">
          {{retreat.retreat-date}}
        </h3>
        <!-- <a href="{{retreat.url}}" class="learn-more-button">

            Learn more

        </a> -->
      </div>
    </div>
  </a>
</div>
