<section id="schedule" class="schedule-calendar padding-outer">
  <div class="schedule-text-box">
    <h2>
      Class schedule
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="schedule-calendar-box padding-inner grid-spaceBetween">
    <div class="cal-column col-2">
      <h2>
        Day
      </h2>
    </div>
    <div class="cal-column col-2">
      <h2>
        Time
      </h2>
    </div>
    <div class="cal-column col-2">
      <h2>
        Style
      </h2>
    </div>
    <div class="cal-column col-2">
      <h2>
        Location
      </h2>
    </div>
    <div class="cal-column col-2">
      <h2>
        Add to cal
      </h2>
    </div>
    <div class="" style="margin:1px">
      <!-- {% assign friday = site.yoga | contains:"yoga.schedule.day", "Friday" %}
      {% if friday ==  %}
        <p>bob</p>
      {% endif %} -->

    </div>
    <!-- Create a list called monday to represent contents from _yoga folder that contain Monday as value on the Front Matter Array Yoga->Schedule->Day -->
  {% assign monday = site.yoga | contains:"yoga.schedule.day", "Monday" %}

    <div class="cal-column col-2">
      <h3>
        Monday
      </h3>
    </div>
    <div class="cal-column col-2">
      <!-- For item yoga in the new list monday -->
      {% for yoga in monday %}
      <!-- and for the item class in array yoga.schedule -->
        {% for class in yoga.schedule %}
        <!-- and only if the array class.day is equal to Monday -->
          {% if class.day == 'Monday' %}
          <!-- for all classes in the class array 'classes', print this code -->
            {% for class in class.classes %}
              <h3>
                {{class.time}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in monday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Monday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in monday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Monday' %}
            {% for class in class.classes %}
              <a href="{{class.studio_url}}">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in monday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Monday' %}
            {% for class in class.classes %}
              <a href="{{class.add-to-cal}}">
                <h3>
                  Click to add
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="" style="margin:1px">
    </div>

  {% assign tuesday = site.yoga | contains:"yoga.schedule.day", "Tuesday" %}

    <div class="cal-column col-2">
      <h3>
        Tuesday
      </h3>
    </div>
    <div class="cal-column col-2">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
              <a href="{{class.studio_url}}">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in tuesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Tuesday' %}
            {% for class in class.classes %}
              <a href="{{class.add-to-cal}}">
                <h3>
                  Click to add
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="" style="margin:1px">
    </div>
  {% assign wednesday = site.yoga | contains:"yoga.schedule.day", "Wednesday" %}

    <div class="cal-column col-2">
      <h3>
        Wednesday
      </h3>
    </div>
    <div class="cal-column col-2">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
              <a href="{{class.studio_url}}">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in wednesday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Wednesday' %}
            {% for class in class.classes %}
              <a href="{{class.add-to-cal}}">
                <h3>
                  Click to add
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="" style="margin:1px">
    </div>
  {% assign thursday = site.yoga | contains:"yoga.schedule.day", "Thursday" %}

    <div class="cal-column col-2">
      <h3>
        Thursday
      </h3>
    </div>
    <div class="cal-column col-2">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
              <a href="{{class.studio_url}}">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in thursday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Thursday' %}
            {% for class in class.classes %}
              <a href="{{class.add-to-cal}}">
                <h3>
                  Click to add
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="" style="margin:1px">
    </div>
  {% assign friday = site.yoga | contains:"yoga.schedule.day", "Friday" %}

    <div class="cal-column col-2">
      <h3>
        Friday
      </h3>
    </div>
    <div class="cal-column col-2">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
              <a href="{{class.studio_url}}">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in friday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Friday' %}
            {% for class in class.classes %}
              <a href="{{class.add-to-cal}}">
                <h3>
                  Click to add
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="" style="margin:1px">
    </div>
  {% assign saturday = site.yoga | contains:"yoga.schedule.day", "Saturday" %}

    <div class="cal-column col-2">
      <h3>
        Saturday
      </h3>
    </div>
    <div class="cal-column col-2">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              <a href="{{class.studio_url}}">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in saturday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Saturday' %}
            {% for class in class.classes %}
              <a href="{{class.add-to-cal}}">
                <h3>
                  Click to add
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="" style="margin:1px">
    </div>
  {% assign sunday = site.yoga | contains:"yoga.schedule.day", "Sunday" %}

    <div class="cal-column col-2">
      <h3>
        Sunday
      </h3>
    </div>
    <div class="cal-column col-2">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
              <h3>
                {{class.time}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
              <h3>
                {{class.style}}
              </h3>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
              <a href="{{class.studio_url}}">
                <h3>
                  {{class.studio}}
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <!--  -->
    </div>
    <div class="cal-column col-2">
      {% for yoga in sunday %}
        {% for class in yoga.schedule %}
          {% if class.day == 'Sunday' %}
            {% for class in class.classes %}
              <a href="{{class.add-to-cal}}">
                <h3>
                  Click to add
                </h3>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
</section>
