<!-- jQuery loaded via Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7509518.js"></script>
<!-- End of HubSpot Embed Code -->
<!-- FontAwesome script -->
<script src="https://kit.fontawesome.com/b28a5faa19.js" crossorigin="anonymous" ></script>
<!-- <script src="/js/scripts.js" type="text/javascript"></script> -->
<!-- <script src="/js/lazysizes.min.js" async=""></script> -->
<script src="/js/faq-accordion.js" defer type="text/javascript"></script>
