
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

  $(document).ready(function() {

    console.log('hello from jquery');

    $(".burger-menu").click(function(){

      $(".mobile-nav").toggleClass("hide");

      $(this).toggleClass("active");

      console.log("burger clicked");
      
    }); //Closes Click Burger function

  }); //Closes Ready function

</script>

<script>

  var clics = 0;

  $(document).ready(function() {

  // Accordion script by @SebaGarcia

    $('.faq-a').hide();
    $('#cerrartodas').hide();

    $('.faq-q').click(function() {

      $(this).next('.faq-a').toggle(function() {

        $(this).next('.faq-a');

      }, function() {

        $(this).next('.faq-a').fadeIn('fast');

      });

      if ($(this).hasClass('close')) {
        $(this).removeClass('close');
      } else {
        $(this).addClass('close');
      };

      if ($('.close').length >= 3) {

        $('#cerrartodas').fadeIn('fast');

      } else {
        $('#cerrartodas').hide();
        var opened = $('.close').length
        console.log(opened);
      }
    }); //Close Function Click

  }); //Close Function Ready

</script>
