<section class="triple-features">
  <div class="grid-spaceBetween">
    <div class="col-4_md-12 feature-box flex-center">
      <div class="zoom">
        <picture>
          <source data-srcset="{{page.feature-box-1_image | replace: "480", "600"}}" media="(min-width: 600px)">
            <img data-src="{{page.feature-box-1_image}}" class="responsive-img lazyload" alt="">
          </picture>
        </div>
        <div class="box-content">
          <h2>
            {{page.feature-box-1-title}}
          </h2>
          <a href="{{page.feature-box-1_url}}" class="learn-more-button">
            Learn More
          </a>
        </div>
      </div>
      <div class="col-4_md-12 feature-box flex-center">
        <div class="zoom">
          <picture>
            <source data-srcset="{{page.feature-box-2_image | replace: "480", "600"}}" media="(min-width: 600px)">
              <img data-src="{{page.feature-box-2_image}}" class="responsive-img lazyload" alt="">
            </picture>
          </div>
          <div class="box-content">
            <h2>
              {{page.feature-box-2-title}}
            </h2>
            <a href="{{page.feature-box-2_url}}" class="learn-more-button">
              Learn More
            </a>
          </div>
        </div>
        <div class="col-4_md-12 feature-box flex-center">
          <div class="zoom">
            <picture>
              <source data-srcset="{{page.feature-box-3_image | replace: "480", "600"}}" media="(min-width: 600px)">
                <img data-src="{{page.feature-box-3_image}}" class="responsive-img lazyload" alt="">
            </picture>
          </div>
          <div class="box-content">
            <h2>
              {{page.feature-box-3-title}}
            </h2>
            <a href="{{page.feature-box-3_url}}" class="learn-more-button">
                Learn More
            </a>
          </div>
        </div>
      </div>
    </section>
