<section class="triple-features bg-dark">
  <div class="grid-spaceBetween">
    <div class="col-4_md-12 feature-box flex-center">
      <img src="{{page.feature-box-1_image}}" alt="Yoga by Claudia Neumann">
      <div class="box-content">
        <h2>
          {{page.feature-box-1-title}}
        </h2>
        <a href="{{page.feature-box-1_url}}" class="learn-more-button">
          <h4>
            Learn More
          </h4>
        </a>
      </div>
    </div>
    <div class="col-4_md-12 feature-box flex-center">
      <img src="{{page.feature-box-2_image}}" alt="Reiki sessions by Claudia Neumann">
      <div class="box-content">
        <h2>
          {{page.feature-box-2-title}}
        </h2>
        <a href="{{page.feature-box-2_url}}" class="learn-more-button">
          <h4>
            Learn More
          </h4>
        </a>
      </div>
    </div>
    <div class="col-4_md-12 feature-box flex-center">
      <img src="{{page.feature-box-3_image}}" alt="Retreats by Claudia Neumann">
      <div class="box-content">
        <h2>
          {{page.feature-box-3-title}}
        </h2>
        <a href="{{page.feature-box-3_url}}" class="learn-more-button">
          <h4>
            Learn More
          </h4>
        </a>
      </div>
    </div>
  </div>
</section>
