<section class="triple-features">
  <div class="grid-spaceBetween">
    <div class="col-4_md-12 feature-box flex-center">
      <img src="{{page.feature-box-1_image}}" class="responsive-img" loading="lazy" alt="{{page.feature-box-1-alt-text}}">
      <div class="box-content">
        <h2>
          {{page.feature-box-1-title}}
        </h2>
        <a href="{{page.feature-box-1_url}}" class="learn-more-button">

            Learn More

        </a>
      </div>
    </div>
    <div class="col-4_md-12 feature-box flex-center">
      <img src="{{page.feature-box-2_image}}" class="responsive-img" loading="lazy" alt="{{page.feature-box-2-alt-text}}">
      <div class="box-content">
        <h2>
          {{page.feature-box-2-title}}
        </h2>
        <a href="{{page.feature-box-2_url}}" class="learn-more-button">

            Learn More

        </a>
      </div>
    </div>
    <div class="col-4_md-12 feature-box flex-center">
      <img src="{{page.feature-box-3_image}}" class="responsive-img" loading="lazy" alt="{{page.feature-box-3-alt-text}}">
      <div class="box-content">
        <h2>
          {{page.feature-box-3-title}}
        </h2>
        <a href="{{page.feature-box-3_url}}" class="learn-more-button">

            Learn More

        </a>
      </div>
    </div>
  </div>
</section>
