<section id="schedule" class="schedule-calendar padding-outer">
  <div class="schedule-text-box">
    <h2 class="editable heading">
      Let's practice!
    </h2>
    <p class="editable">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="schedule-calendar-box padding-inner grid-spaceBetween">
    <div class="col-12 grid-noGutter">
      <div class="col-1 mobile-hide">
        <!-- spacer column -->
      </div>
      <div class="cal-column col-2 mobile-hide">
        <h2>
          <strong>Day</strong>
        </h2>
      </div>
      <div class="cal-column col-2 mobile-hide">
        <h2>
          <strong>Time</strong>
        </h2>
      </div>
      <div class="cal-column col-2 mobile-hide">
        <h2 class="editable">
          <strong>Style</strong>
        </h2>
      </div>
      <div class="cal-column col-2 mobile-hide">
        <h2 class="editable">
          <strong>Location</strong>
        </h2>
      </div>
      <div class="cal-column col-2 mobile-hide">
        <h2 class="editable">
          <strong>Add to cal</strong>
        </h2>
      </div>
      <div class="col-1 mobile-hide">
        <!-- spacer column -->
      </div>
    </div>

<!-- This forloop iterates over the page.schedule array, finds the classes that have the day of the week and prints the classes for that day of the week using the yoga-class-component include -->
    {% for schedule in page.schedule %}
      {% if schedule.day == 'Monday' %}
        {% for class in schedule.classes %}
          {% include yoga-schedule-component.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}


    {% for schedule in page.schedule %}
      {% if schedule.day == 'Tuesday' %}
        {% for class in schedule.classes %}
          {% include yoga-schedule-component.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}


    {% for schedule in page.schedule %}
      {% if schedule.day == 'Wednesday' %}
        {% for class in schedule.classes %}
          {% include yoga-schedule-component.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for schedule in page.schedule %}
      {% if schedule.day == 'Thursday' %}
        {% for class in schedule.classes %}
          {% include yoga-schedule-component.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for schedule in page.schedule %}
      {% if schedule.day == 'Friday' %}
        {% for class in schedule.classes %}
          {% include yoga-schedule-component.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for schedule in page.schedule %}
      {% if schedule.day == 'Saturday' %}
        {% for class in schedule.classes %}
          {% include yoga-schedule-component.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for schedule in page.schedule %}
      {% if schedule.day == 'Sunday' %}
        {% for class in schedule.classes %}
          {% include yoga-schedule-component.html %}
        {% endfor %}
      {% endif %}
    {% endfor %}
</div></section>
