header.blog-header {
  padding: 4rem;
  margin-top: 0;
  img {
    width: 8rem;
    margin-bottom: .5rem;
  }
  h2 {
    font-weight: $light_font;
    margin-bottom: 1.5rem;
    span {
      font-weight: $regular_font;
    }
  }
}

.blog-latest-banner {
  position: relative;
  height: 350px;
  width: 90%;
  margin: auto;
}

.blog-banner-content {
  position: absolute;
  padding: 0 5rem;
  h2 {
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: $regular_font;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: $light_font;
    margin-bottom: 1rem;
  }
}

.blog-preview {
  margin-bottom: 3rem;
}

.blog-thumb {
  position: relative;
  width: 90%;
  height: 250px;
  margin-bottom: 1rem;
  h2 {
    font-weight: $regular_font;
    font-size: 2rem;
  }
  h3 {
    font-weight: $regular_font;
  }
}

.blog-thumb-content {
  position: absolute;
  padding: 1.5rem 3rem;
}

.blog-description {
  width: 90%;
}

.blog-content p {
  margin-bottom: 1.5rem;
  line-height: 1.7;
}

.post-categories,
.post-tags {
  h3,
  h4 {
    display: inline-block;
    margin: .3rem 0;
  }
  h3 {
    font-weight: $regular_font;
    font-size: 1rem;
  }
}

.category {
  color: $secondary-color;
  font-weight: $light_font;
}

.post-tags a {
  display: inline;
  padding: .3rem .5rem;
  margin-right: .5rem;
  background-color: $light-color;
  border-radius: 3px;
  font-size: .6rem;
}

.about-column div.sticky {
  position: sticky;
  top: 0;
}

.related-content {
  margin-top: 3rem;
  margin-bottom: 4rem;
  h3 {
    padding: .5rem 0;
  }
  hr {
    background-color: #479AA1;
    height: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 12rem;
  }
}
