header.blog-header {
  padding: 4rem;
  margin-top: 0;
  img {
    width: 8rem;
    margin-bottom: .5rem;
  }
  h2 {
    font-weight: $light_font;
    margin-bottom: 1.5rem;
    span {
      font-weight: $regular_font;
    }
  }
}

body.bg-blog {
  background-color: lighten($primary-color, 40);
}

.blog-latest-banner {
  position: relative;
  height: 350px;
  padding: 0 5rem;
}

.blog-banner-content {
  position: absolute;
  padding: 0 5rem;
  h2 {
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: $regular_font;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: $light_font;
    margin-bottom: 1rem;
  }
}

.blog-info {
  hr {
    background-color: $secondary-color;
    border: none;
    border-radius: 5px;
    height: 5px;
    margin-bottom: 1.5rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  h3 {
    font-size: .8rem;
    letter-spacing: 3px;
  }
}

.blog-preview {
  margin-bottom: 3rem;
}

.blog-thumb {

// width: 100%;
height: 250px;
padding-right: 4rem;
padding-bottom: 1rem;
position: relative;

  h2 {
    font-weight: $regular_font;
    font-size: 2rem;
  }
  h3 {
    font-weight: $regular_font;
  }
}

.blog-thumb-content {
  position: absolute;
  padding: 1.5rem 3rem;
}

.blog-description {
  width: 90%;
}

.blog-content {
  p {
    margin-bottom: 1.5rem;
    line-height: 1.7;
  }
  h2 { font-weight: $regular_font; }
  h3 { font-weight: $light_font; }
}

.post-categories,
.post-tags {
  h3,
  h4 {
    display: inline-block;
    margin: .3rem 0;
  }
  h3 {
    font-weight: $regular_font;
    font-size: 1rem;
  }
}

.category {
  color: $secondary-color;
  font-weight: $light_font;
}

.post-tags a {
  display: inline;
  padding: .3rem .5rem;
  margin-right: .5rem;
  background-color: $light-color;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  font-size: .6rem;
  transition: .3s all;
  &:hover {
    background-color: $secondary-color;
    color: $light-color;
    transition: .3s all;
  }
}

.about-column div.sticky {
  position: sticky;
  top: 0;
}

.related-content {
  margin-top: 3rem;
  margin-bottom: 5rem;
  h3 {
    padding: .5rem 0;
    transition: .3s all;
    &:hover {
      color: $secondary-color;
      transition: .3s all;
    }
  }
  p {
    font-size: .8rem;
  }
  hr {
    background-color: #479AA1;
    height: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 12rem;
  }
  .read-more {
    text-transform: uppercase;
    margin-left: .3rem;
    transition: .3s all;
    &:hover {
      color: $secondary-color;
      transition: .3s all;
    }
  }
}
.related-preview {
  padding-bottom: 1rem;
}

.archive-group {
  hr {
    background: $secondary-color;
    border: none;
    border-radius: 5px;
    height: 5px;
    width: 50px;
  }
  a:hover {
    color: $secondary-color;
    transition: .3s all;
  }
  h3 {
    font-weight: $regular_font;
  }
  h4 {
    font-weight: $light_font;
  }
}

.social {
  padding: 1rem 2rem;
  background-color: lighten($primary-color, 50);
  border-radius: 10px;
}
.social-share {
  font-size: 2.5rem;
  color: #dfdfdf;
}
