@import
  "_button-text-style",
  "_button-border-radius",
  "_transition";

.banner-cta-button {
  @include    button-border-radius;
  @include    button-text-style;
  display   : inline-block;
  padding   : 1rem 2rem;
  color     : $light-color;
  border    : 1px solid $light-color;
  font-size : $cta-button-font-size;
}

.bg-secondary .banner-cta-button {
  @include           button-border-radius;
  @include           button-text-style;
  display          : inline-block;
  padding          : 1rem 2rem;
  color            : $accent-color;
  border           : 1px solid $light-color;
  background-color : $light-color;
  font-size        : $cta-button-font-size;
}

.banner-cta-button:focus,
.banner-cta-button:hover {
  @include           transition;
  background-color : $accent-color;
}

.bg-primary .banner-cta-button:focus,
.bg-primary .banner-cta-button:hover,
.bg-secondary .banner-cta-button:focus,
.bg-secondary .banner-cta-button:hover {
  @include   transition;
  color    : $light-color;
}

.learn-more-button {
  @include    button-border-radius;
  @include    button-text-style;
  @include    transition;
  display   : inline-block;
  padding   : .7rem .9rem;
  color     : $light-color;
  border    : 1px solid $light-color;
  font-size : $learn-more-button-font-size;
}

.section-feature .learn-more-button {
  color        : $dark-color;
  border-color : $dark-color;
}

.bg-blog .learn-more-button {
  @include    button-border-radius;
  @include    button-text-style;
  @include    transition;
  display   : inline-block;
  padding   : .7rem .9rem;
  color     : $dark-color;
  border    : 1px solid $dark-color;
  font-size : $learn-more-button-font-size;
}

.bg-light .learn-more-button,
.retreat-card .learn-more-button {
  border           : 1px solid $accent-color;
  background-color : $accent-color;

  &:hover {
    color : $accent-color;
  }
}

.learn-more-button:focus,
.learn-more-button:hover {
  @include           transition;
  color            : $primary-color;
  background-color : $light-color;
}

.schedule-button {
  @include           button-border-radius;
  @include           button-text-style;
  @include           transition;
  display          : inline-block;
  padding          : 1rem 2rem;
  color            : $light-color;
  border           : 1px solid $light-color;
  background-color : $primary-color;

  &:focus,
  &:hover {
    @include           transition;
    color            : $primary-color;
    border-color     : $primary-color;
    background-color : $light-color;
  }
}

.form-send-button {
  @include           button-border-radius;
  @include           button-text-style;
  width            : inherit;
  padding          : .8rem;
  color            : $light-color;
  border           : none;
  background-color : $accent-color;
  font-size        : $cta-button-font-size;

}
