
.banner-cta-button {
  color: $light_color;
  border: 1px solid $light-color;
  border-radius: $button-border-radius;
  padding: 1rem 2rem;
  display: inline-block;
  h3 {
    font-family: $header-font-family;
    font-weight: $regular-font;
    letter-spacing: 2px;
    font-size: $button-font-size;
    text-transform: uppercase;
  }
}

.banner-cta-button:hover,
.banner-cta-button:focus, {
  background-color: $secondary-color;
  transition: .4s all;
}

.learnmore-button {
  color: $dark-color;
  border: 1px solid $dark-color;
  border-radius: $button-border-radius;
  padding: .6rem;
  transition: .3s all;
  display: inline-block;
  h3 {
    font-family: $header-font-family;
    font-weight: $regular-font;
    letter-spacing: 2px;
    font-size: .8rem;
    text-transform: uppercase;
  }
}

.learnmore-button:hover,
.learnmore-button:focus {
  color: $primary-color;
  background-color: $light-color;
  transition: .3s all;
}
