.faq {
  border: 1px solid $dark-color;
  border-radius: 4px;
  padding: 1rem 2rem;
  max-width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  transition: .3s all;
  &:hover {
    transition: .3s all;
    border-color: $light-color;
    color: $light-color;
    background-color: $secondary-color;
  }
  h3 {
    font-weight: $light_font;
    letter-spacing: 2px;
  }
  li {
    list-style: none;
    font-family: $paragraph-font-family;
    margin-bottom: .3rem;
  }
}
