footer {
  height: 450px;
  background-color: #3e3e3e;
}

.footer-brand-link { display: block; }

.footer-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.footer-title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: $light-color;
  font-weight: $light_font;
}

.social-box {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.email-link {
  display: block;
  font-family: $header-font-family;
  font-size: 1rem;
  color: $light-color;
  transition: .3s all;
  &:hover {
    color: $secondary-color;
    transition: .3s all;
  }
}

.footer-social-icon {
  width: 50px;
  height: auto;
  .fab {
    font-size: 2.5rem;
    padding: .3rem;
    color: $light-color;
    transition: .3s all;
  }
}

.fab:hover {
  color: $primary-color;
  transition: .3s all;
}

form {
  width: 80%;
  // using margin:auto; centered the content to the div
  margin: auto;
}

.footer-form, .cta-form {
  text-align: center;
  color: $light-color;
  h2 {
    font-weight: $light_font;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 1rem;
  }
  input {
    padding: .8rem;
    border-radius: 5px;
    border: none;
    width: inherit;
    margin-bottom: 1rem;
  }
  .message {height: 4rem;}
}
