@import "_transition";

footer {
  // height: 450px;
  background-color : #3e3e3e;
}

.footer-brand-link {
  display : block;
}

.footer-logo {
  width         : 80px;
  height        : 80px;
  margin-bottom : 1rem;
}

.footer-title {
  margin-bottom : 3rem;
  color         : $light-color;
  font-size     : 1.5rem;
  font-weight   : $light_font;
}

.social-box {
  display       : inline-block;
  margin-right  : 1rem;
  margin-bottom : 1rem;
}

.email-link {
  @include      transition;
  display     : block;
  color       : $light-color;
  font-family : $header-font-family;
  font-size   : 1rem;

  &:hover {
    @include   transition;
    color    : $accent-color;
  }
}

.footer-social-icon {
  width  : 50px;
  height : auto;

  .fab {
    @include    transition;
    padding   : .3rem;
    color     : $light-color;
    font-size : 2.5rem;
  }
}

.fab:hover {
  @include   transition;
  color    : $primary-color;
}

form {
  width  : 80%;
  margin : auto;
  // using margin:auto; centered the content to the div
}

.cta-form,
.footer-form {
  color      : $light-color;
  text-align : center;

  h2 {
    margin-bottom : 1rem;
    font-weight   : $light_font;
  }

  p {
    width         : 70%;
    margin-right  : auto;
    margin-bottom : 1.5rem;
    margin-left   : auto;
    font-size     : 1rem;
  }

  input {
    width                 : inherit;
    margin-bottom         : 1rem;
    padding               : .8rem;
    border                : none;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
    font-size             : .9rem;
  }

  .message {
    height : 4rem;
  }
}
