.header-banner {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header-text-box {
  position: absolute;
  padding: 5% 0%;
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: $header-font-family;
    font-weight: $light_font;
    color: $light_color;
    letter-spacing: 5px;
  }
}

.header-banner img {
  max-width: 100%;
  object-fit: cover;
}
