.header-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
// This works for gradient but it's not flexible for changing image in front matter... need to find solution
  background: rgb(71,154,161);
  background: linear-gradient(180deg, rgba(71,154,161,1) 0%, rgba(245,174,168,0.19511554621848737) 100%),url('/assets/images/placeholder 009.jpg');
  background-size: cover;
}

.header-text-box {
  position: absolute;
  padding: 5% 0%;
  h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: $header-font-family;
    font-weight: $light-font;
    color: $light-color;
    letter-spacing: 5px;
  }
}

// .header-banner img {
//   max-width: 100%;
//   object-fit: cover;
// }
