.info-box {
  min-height: 200px;
  position: relative;
  img {
    position: absolute;
    width: 350px;
    }
  h2 {
    z-index: 1;
    font-weight: $light_font;
    color: $light-color;
  }
}

.practical-info {
  padding: 10%;
  .banner-cta-button {
    background-color: $primary-color;
    &:hover {
      color: $primary-color;
      background-color: $light-color;
      border-color: $primary-color;
    }
  }
  h3, p {margin-bottom: 1rem;}
}

.intro-section,
.overview {
  h3 {
    margin-bottom: 1rem;
    font-weight: $light_font;
    font-size: 1.6rem;
    color: $primary-color;
  }
  p { margin-bottom: 2rem;}
}

.object-price {
  font-size: 1.5rem;
  color: $secondary-color;
}
