.info-box {
  min-height: 200px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
  h2 {
    z-index: 1;
    font-weight: $light_font;
    color: $light-color;
    font-size: 2.5rem;
  }

}

.practical-info {
  padding: 10% 5%;
  .banner-cta-button {
    background-color: $primary-color;
    &:hover {
      color: $primary-color;
      background-color: $light-color;
      border-color: $primary-color;
    }
  }
  h3, p {
    margin-bottom: 1rem;
  }
  h3 {
    color: $primary-color;
    font-size: 1.3rem;
  }
}

.intro-section,
.overview {
  h3 {
    margin-bottom: 1rem;
    font-weight: $light_font;
    font-size: 1.6rem;
    color: $primary-color;
  }
  p {
    margin-bottom: 2rem;
  }
}
.overview-top {
  background-image: url(/assets/images/srcset/600/aileen-david-rae-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.overview-bottom {
  background-image: url(/assets/images/srcset/600/christin-hume-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
h3.object-price {
  font-size: 1.5rem;
  color: $accent-color;
  font-family: $paragraph-font-family;
}

.certification-content {
  padding: 4%;
  .cert-logo {
    margin: auto;
    padding-bottom: 1rem;
    width: 80px;
    height: auto;
    filter: grayscale(1);
  }
  h2 {
    padding-bottom: .5rem;
  }
  h4 {
    font-weight: $light_font;
    padding-bottom: .6rem;
    }
  }

.gradient {
  content: "";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:inline-block;
  background: linear-gradient(to right, rgba(60,60,60,0.4) 18%, rgba(255,255,255, 100) 95%);
  background-size: cover;
}
