.intro-section {display: inline-block;}

.thumb-profile-pic {
  overflow: hidden;
  margin-bottom: 2rem;
  img {
    width:150px;
    height:150px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
  }
}

.intro-section {
  h2 {
    text-transform: uppercase;
    font-weight: $light-font;
    font-size: $heading2-font-size;
    margin-bottom: 2rem;
    letter-spacing: 2px;
  }
  p {
    max-width: 70%;
    margin: auto;
  }
}
.divider-symbol svg {
  height: 50px;
  width: 50px;
  fill: $dark-color;
}
