@media (max-width: 320px) {
  .logo-overlay-right {
    width: 70px;
  }
}
@media (max-width: 360px) {
  .burger-menu {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .navbar {
    padding: 0 1%;
    .navbar-link h2 {
      font-size: .9rem;
    }
  }
  header.blog-header {
    padding: .5rem;
  }

  .related-preview-content {
    padding: 1rem;
  }
  .related-preview {
    padding-right: 0;
  }
  .blog-info h2 {
    font-size: 1.5rem;
  }

} //Closes 320px

@media (max-width: 455px) {
  .cta-form {
    form, p {
      width: 90%;
    }
  }
  .cta-section-content p {
    width: 90%;
  }
  .logo-overlay-right {
    width: 150px;
    right: 10px;
    bottom: 10px;
  }
  .full-width-banner-content {
    max-width: 90%;
  }
  .full-width-banner {
    height: 900px;
  }
  .schedule-text-box {
    max-width: 100%;
  }
  .schedule-calendar {
    width: 100%;
    &.padding-outer {
      padding: 2%;
    }
  }
}
@media (max-width: 600px) {
  .schedule-calendar-box h3 {
    font-size: .7rem;
    text-transform: unset;
  }
  .header-banner h1 {
    font-size: 2rem;
    text-align: center;
  }

  .navbar-link h2 {font-size: .8rem;}
  .navbar-link img {width: 60px;}
  .navbar-link {
    h2, img {
      padding: .5rem;
    }
  }
  .intro-section p {max-width: 90%;}
  .thumb-profile-pic img {
    width: 100px;
    height: 100px;
  }
  .header-banner .responsive-img,
  .header-banner {
    height: 65vh;
  }
  .community-banner-logo {
    height: 180px;
  }
  form {
    width: 90%;
  }
  .facilitator-card {
    padding: 0;
  }
  .facilitator p {
    padding: 0;
  }
  .community-page p {
    width: 95%;
  }
  .blog-banner-content {
    padding: 1rem;
    h2 {
      font-size: 2rem;
    }
  }
  .blog-thumb-content {
    padding: 1.5rem 1rem;
  }
  .blog-thumb {
    padding-right: 0;
  }
  .blog-description {
    width: 100%;
  }
  .inspiration .overview {
    padding: 20% 5%;
    text-align: center;
  }
}

@media (max-width: 667px) {
  .navbar-link img {
    max-width: 80px;
  }
  header {
    margin-top: 60px;
  }

  .post-tags a {
    margin: 0;
  }
  .blog-author-bio,
  .tag-box {
    width: 100%;
  }
  .blog-banner-content h2 {
    font-size: 2rem;
  }
  .blog-content p {
    padding-right: 0;
    font-size: .8rem;
    line-height: 1.7;
  }
  header.blog-header {
    padding: 2rem;
    h2 {
      font-size: 1rem;
    }
  }
} // Closes 667px

@media (max-width: 768px) {
  .header-banner {
    height: 45vh;
  }
  .blog-latest-banner img {
    height: 450px;
  }
}

@media (max-width: 812px) {
  .blog-banner-content h2 {
    font-size: 2rem;
  }
  header.blog-header {
    padding: 2rem;
  }
}

@media (max-width: 1023px) {
  .mobile-hide { display: none; }
  .header-text-box p {
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    width: 85%;
  }
  .navbar-link {
    h2, span {
      font-size: 1rem;
    }
  }
  .footer-branding {
    text-align: center;
  }
  .footer-form {margin-bottom: 3rem; }
  .burger-menu {
    display: inline-block;
  }
  .footer-logo {margin-top: 2rem;}

}


@media (max-width: 1024px) {
  nav a {
    font-size: .8rem;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  .footer-form {
    margin-bottom: 2rem;
    h2 {
      margin-top: 2rem;
    }
  }
  .footer-branding {
    text-align: center;
  }
  .padding-side-5 {
    padding: 0;
  }
  header.blog-header img {
    width: 3rem;
  }
  .blog-banner-content h2 {
    font-size: 2.5rem;
  }
  .blog-preview {
    padding-right: 0;
  }
  .header-banner {
    height: 45vh;
  }
  .retreat-box {
    padding: 2%;
  }
}


@media (max-width: 1126px) {
  .section-lg-feature-image {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (max-width: 1280px) {
  nav a {
    margin-left:.2rem;
    margin-right:.2rem;
  }
}
