.highlight-icon {
  width: 100px;
  height: 100px;
  margin: auto;
}
.intro-section .highlight-icon {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 2rem;
}

.highlights {
  p {
    max-width: 80%;
    margin: auto;
  }
  h2 {
    font-weight: $light_font;
  }
}

.cta-form form {
  width: 60%;
}
