.schedule-calendar, .cal-column {
  text-align: center;
  h2, h3, p {
    margin-bottom: 2rem;
    font-family: $paragraph-font-family;
  }
  h2 {
    font-weight: $regular_font;
  }
  h3 {
    font-weight: $light-font;
  }
}

.schedule-text-box h2 {
  font-size: $heading2-font-size;
  font-weight: $light_font;
  letter-spacing: 2px;
}

.schedule-text-box h2.heading {
  font-family: $header-font-family;
}

.schedule-calendar-box {
  background-color: #efefef;
}

hr.col-12 {
  padding: 0;
  margin-bottom: 1.5rem;
  border: 2px solid $dark-color;
}
.cal-column h3 {
    min-height: 35px;
}
