.schedule-calendar, .cal-column {
  text-align: center;

  h2, h3, p {
    margin: 1rem 0;
  }
  h3, p {
    font-family: $paragraph-font-family;
  }
  h2 {
    font-weight: $regular_font;
  }
  h3 {
    font-weight: $light-font;
  }
  h3.flex-center {
    margin: 0;
    padding: 1rem 0;
  }
}

.schedule-calendar {
  width: 90%;
  margin: auto;
}

.schedule-text-box {
  max-width: 80%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.schedule-text-box h2 {
  font-size: $heading2-font-size;
  font-weight: $light_font;
  letter-spacing: 2px;
}

.schedule-text-box h2.heading {
  font-family: $header-font-family;
}

.schedule-calendar-box {
  background-color: #efefef;
}

.yoga-classes:nth-child(even) {
  background-color: $primary-shade;
  color: $light-color;
}

div.cal-column.col-2_md-12-middle,
div.cal-column.col-2_md-3-middle
 {
  align-self: stretch;
}

div.cal-column.col-2_md-12-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-column a {
 display: block;
}

// hr.col-12 {
//   padding: 0;
//   margin-bottom: 1.5rem;
//   border: 2px solid $dark-color;
// }
// .cal-column h3 {
//     min-height: 50px;
// }
