.testimonials {
  background-image: radial-gradient($accent-color 0%, $primary-color 100%);
}

.testimonial-box {
  padding: 2rem 3rem;
  background-color: $light-color;
  border-radius: 10px;
  margin-bottom: 2rem;
}

blockquote.testimonial-text-content {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  p {
    font-size: 1rem;
    font-style: italic;
  }
  h3 {
    font-weight: $light_font;
    font-size: 1.3rem;
  }
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 10em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
