.testimonials {
  background-image: radial-gradient($accent-color 0%, $primary-color 100%);
}

.testimonial-box {
  padding: 2rem;
  background-color: $light-color;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.testimonial-text-content {
  padding: 1rem;
  p {
    font-size: 1rem;
    font-style: italic;
  }
  h3 {
    font-weight: $light_font;
    font-size: 1.3rem;
    margin: 0;
  }
}
