.box-content {
  text-align: center;
  padding: 6rem;
  z-index: 1;
  h2 {
    text-transform: uppercase;
    font-weight: $light-font;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.triple-features {padding: 1% 5%;}

.feature-box {
  // background-color: $secondary-color;
  position:relative;
  overflow: hidden;
  object-fit: cover;
  img {
    position:absolute;
  }
}
