.box-content {
  text-align: center;
  padding: 6rem;
  z-index: 1;
  height: 250px;
  h2 {
    color: $light-color;
    text-transform: uppercase;
    font-weight: $light-font;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.triple-features {padding: 1% 5%;}

.feature-box {
  // background-color: $secondary-color;
  // box-shadow: opacity(rgba(40, 40, 40, .3));
  position: relative;
  overflow: hidden;
  object-fit: cover;
  img {
    position:absolute;
    filter: brightness(.5);
  }
}
