.box-content {
  text-align: center;
  padding: 6rem;
  z-index: 1;
  height: 250px;
  h2 {
    color: $light-color;
    text-transform: uppercase;
    font-weight: $light-font;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
  }
}

.triple-features {
  padding: 3% 5%;
}

.feature-box {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  img {
    position:absolute;
    filter: brightness(.5);
  }
}
