h1,
h2,
h3,
h4 {
  font-family: $header-font-family;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  font-family: $paragraph-font-family;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
}

a {
  font-family: $header-font-family;
}

.credits {
  p, a { font-size: .5rem; }
}

blockquote {
  text-align: center;
  font-style: italic;
  font-weight: $bold_font;
  padding: 1.2rem;
  background-color: $light-color;
  margin-bottom: 1rem;
  p {
    font-size: 1.2rem;
  }
}

ul,
ol {
  li {
    list-style: '\2666\A0';
    list-style-position: inside;
    font-family: $paragraph-font-family;
    &:last-of-type {
      margin-bottom: 1.2rem;
    }
  }
}

#CybotCookiebotDialog a,
#CybotCookiebotDialog div,
#CybotCookiebotDialogBodyContentControls,
#CybotCookiebotDialogBodyContentTitle {
  font-family: $paragraph-font-family !important;
  img#CybotCookiebotDialogPoweredbyImage{
    display: none !important;
  }
}
