.section-feature {
  min-height: 650px;
  position: relative;
  .learn-more-button {
    padding: .9rem 1.2rem;
    h4 {
      font-size: 1rem;
    }
  }
}

.section-lg-feature-image {
  max-height: 500px;
  position: absolute;
  left: 10%;
  object-fit: cover;
  overflow: hidden;
  padding: 3% 6%;
}

.section-feature-content {
  padding: 3% 6%;
  background-color: $primary-color;
  z-index: 1;
  h2, h3 {
    margin-bottom: 1rem;
    font-family: $header-font-family;
    font-weight: $regular_font;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  h3 {
    color: $light-color;
  }
}
