.right  {text-align: right;}
.left   {text-align: left;}
.center {text-align: center;}

.full-height  {height: 85vh;}
.half-height  {height: 50vh;}
.third-height {height: 33vh;}

// The 100% value makes the image fill the space responsively; set the container's width, height and padding (if required)
.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.padding-inner    { padding: 3%; }
.padding-outer    { padding: 5%; }
.padding-side-5   { padding: 0 5%; }

.bg-dark {
  background-color: $dark-color;
  color: $light-color;
}

.bg-light {
  background-color: $light-color;
  color: $dark-color;
}

.bg-primary {
  background-color: $primary-color;
  color: $light-color;
}
.bg-primary-shade {
  background-color: $primary-shade;
  color: $light-color;
}
.bg-secondary {
  background-color: $accent-shade;
  color: $light-color;
}

.bg-reset {
  background-color: white;
}

.bg-header-content {
  background-color: rgba(110,110,110,0.6);
}

div.hide {
  display: none;
}
.overview-img-box {
  max-height: 35rem;
  position: relative;
}
.gradient-r-l {
  content: "";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:inline-block;
  background: linear-gradient(to left, rgba(60,60,60,0.4) 60%, #f1f1f1 95%);
  background-size: cover;
}
