@import "_flex-align-center";

.right  {text-align: right;}
.left   {text-align: left;}
.center {text-align: center;}

.full-height  {height: 85vh;}
.half-height  {height: 50vh;}
.third-height {height: 33vh;}

// The 100% value makes the image fill the space responsively; set the container's width, height and padding (if required)
.responsive-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-center {
  @include flex-align-center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-right {
  @include flex-align-center;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
     -moz-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flex-left {
  @include flex-align-center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.padding-inner    { padding: 3%; }
.padding-outer    { padding: 5%; }
.padding-side-5   { padding: 0 5%; }

.bg-dark {
  background-color: $dark-color;
  color: $light-color;
}

.bg-light {
  background-color: $light-color;
  color: $dark-color;
}

.bg-primary {
  background-color: $primary-color;
  color: $light-color;
}
.bg-primary-shade {
  background-color: $primary-shade;
  color: $light-color;
}
.bg-secondary {
  background-color: $accent-shade;
  color: $light-color;
}

.bg-reset {
  background-color: white;
}

.bg-header-content {
  background-color: rgba(110,110,110,0.6);
}

div.hide {
  display: none;
}
.overview-img-box {
  max-height: 35rem;
  position: relative;
  overflow: hidden;
}
.gradient-r-l {
  content: "";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:inline-block;
  background: -webkit-gradient(linear, right top, left top, color-stop(60%, rgba(60,60,60,0.4)), color-stop(95%, #f1f1f1));
  background: -webkit-linear-gradient(right, rgba(60,60,60,0.4) 60%, #f1f1f1 95%);
  background: -moz-linear-gradient(right, rgba(60,60,60,0.4) 60%, #f1f1f1 95%);
  background: -o-linear-gradient(right, rgba(60,60,60,0.4) 60%, #f1f1f1 95%);
  background: linear-gradient(to left, rgba(60,60,60,0.4) 60%, #f1f1f1 95%);
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

.video-placeholder {
  position: relative;
  background-image: url(/assets/images/srcset/2000/zoltan-tasi-unsplash.jpg);
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 100%;
  .yt-logo {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    height: auto;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transform: translatey(-50%);
       -moz-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
         -o-transform: translatey(-50%);
            transform: translatey(-50%);
  }
}
.markdown-image {
  width: 100%;
  height: auto;
  img {
    border-radius: 10px;
  }
}
