.right  {text-align: right;}
.left   {text-align: left;}
.center {text-align: center;}

.full-height  {height: 85vh;}
.half-height  {height: 50vh;}
.third-height {height: 33vh;}

.responsive-banner-image {
  max-width: none;
  height: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-inner { padding: 3%; }
.padding-outer { padding: 5%; }

.bg-dark {
  background-color: $dark-color;
  color: $light-color;
}

.bg-light {
  background-color: $light-color;
  color: $dark-color;
}

.bg-primary {
  background-color: $primary-color;
  color: $light-color;
}
.bg-secondary {
  background-color: $secondary-color;
  color: $light-color;
}

.bg-reset {
  background-color: white;
}

.hide {
  display: none;
}
