---
layout: blog
title: Yogismile by Claudia Neumann
permalink: /yogismile/
vertical-ad_image: 
_hidden_blog: true
_hidden_styles: blog
---

{% for post in site.posts offset: 1 limit: 5 %}

<div class="blog-preview">
  <a href="{{post.url}}">
    <div class="blog-thumb flex-left">
      <picture>
        <source data-srcset="{{post.banner_image | replace: "480", "2000"}}" media="(min-width: 2000px)">
        <source data-srcset="{{post.banner_image | replace: "480", "800"}}" media="(min-width: 800px)">
        <source data-srcset="{{post.banner_image | replace: "480", "800"}}" media="(min-width: 768px)">
        <source data-srcset="{{post.banner_image | replace: "480", "600"}}" media="(min-width: 600px)">
        <img data-src="{{post.banner_image}}" class="responsive-img lazyload" alt="{{post.title}}" />
      </picture>
    </div>
  </a>
  <div class="blog-thumb-content">
    <h2>
      {{post.title}}
    </h2>
    <h3>
      {{post.date | date_to_string}}
    </h3>
    <div class="post-categories">
      <h3>
        Categories:
      </h3>
      {% for category in post.categories %}
      <h3 class="category">
        {{category}}
      </h3>
      {% endfor %}
    </div>
    <div class="post-tags">
      <h3>
        Tags:
      </h3>
      <!-- This creates the list of the tags of each post and places a URL to link to all posts related with that tag -->
      {% if post %}
      {% assign tags = post.tags %}
      {% else %}
      {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
      <a href="{{site.baseurl}}/yogismile/tags/#{{tag | slugize}}">{{tag}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    <div class="blog-description">
      <p>
        {{ post.description | truncate: 160 }}
      </p>
    </div>
    <a href="{{post.url}}" class="learn-more-button">
      Read more
    </a>
  </div>
</div>


{% endfor %}
