---
layout: default
_hidden_community: true
page_title: Yogismile Community
permalink: /community
banner_heading: Yogismile Community Events
banner_image: /assets/images/srcset/2000/claudia-neumann-yoga-120.jpg
confirmation-button_url: 'https://www.calendly.com'
event-location_url: 'https://goo.gl/maps/2hvwNPjKZEsV44qJ9'
event-map_url: 'https://goo.gl/maps/2hvwNPjKZEsV44qJ9'
add_testimonials: false
feature-video_url:
facilitators:
  - name: Claudia
    thumb: /assets/images/srcset/480/claudia-neumann-yoga-002.jpg
    bio: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
---

<main class="community-page">
  <section class="community-intro">
    <div class="flex-center bg-primary padding-outer">
      <p class="center editable">
 	My Mission: to make yoga a mindfulness practice affordable and accessible to all! No paid subscriptions or membership dues, just you, your mat and a bottle of water! I do not ask for money, however I do accept donations that most likely will be donated to non-profit organizations. I'll try to make everyone comfortable and safe within their skill level and ability to do yoga. No one is required to do or to try any pose, and everyone is expected to practice safety and to stay within their own physical limits. The benefits from practicing yoga do not require competition or perfection. The benefits from practicing yoga come from maintaining and enhancing your body's ability to move, to stay flexible, and to experience the free flow of energy &amp; light within. Namaste
 </p>
    </div>
  </section>
  <section class="padding-outer event-description bg-dark">
    <div class="center">
      <h3 class="center editable">
 	This week's event:
 </h3>
      <hr />
      <h2 class="center editable">
 	Yoga at Isar River
 </h2>
      <p class="center editable">
 	Now that summer has arrived I offer community classes by the beautiful Isar river in the middle of the city.&nbsp; When the grass is dry and the sun is out grab your mat or towel and join me for a playful as well as relaxing yoga class.
 </p>
      <a href="{{page.confirmation-button_url}}" class="learn-more-button">

          RSVP now

      </a>
    </div>
  </section>
</main>

<section class="community-page">
  <div class="grid-noGutter-spaceAround">
    <h2 class="editable col-12 center">
 	Facilitators
 </h2>
    {% for facilitator in page.facilitators %}
    <div class="col-3_md-6_sm-9 facilitator">
      <div class="center facilitator-card">
        <div class="facilitator-thumb">
          <img data-src="{{facilitator.thumb}}" class="responsive-img lazyload" alt="{{facilitator.name}}" />
        </div>
        <h3>
          {{facilitator.name}}
        </h3>
        <p>
          {{facilitator.bio}}
        </p>
      </div>
    </div>

    {% endfor %}
  </div>
</section>

<section class="bg-primary-shade flex-center">
  <div class="practical-info center">
    <h2 class="editable center">
 	Practical info
 </h2>
    <h3 class="center editable">
 	Date: 19 June
 </h3>
    <h3 class="center editable">
 	Time: 5 pm
 </h3>
    <h3 class="center editable">
 	<a href="https://www.google.com/maps/place/Fr%C3%BChlingsanlagen,+M%C3%BCnchen/@48.1253071,11.5722516,16z/data=!4m13!1m7!3m6!1s0x479ddf65e27b9cad:0x10367501693119bf!2zRnLDvGhsaW5nc2FubGFnZW4sIE3DvG5jaGVu!3b1!8m2!3d48.1250439!4d11.5744687!3m4!1s0x479ddf65e27b9cad:0x10367501693119bf!8m2!3d48.1250439!4d11.5744687">Location: </a>&nbsp;Isar (U-Bahn: Fraunhoferstrasse)
 </h3>
    <a href="https://www.calendly.com" class="learn-more-button editable"> Let's do it! </a>
  </div>
</section>
<map>
  <iframe src="{{page.event-map_url}}" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy" aria-hidden="false" tabindex="0"></iframe>
</map>

{% if page.add_testimonials == true %}
  {% include testimonials.html %}
{% endif %}

{% unless page.feature-video_url == empty %}
  {% include feature-video.html%}
{% endunless %}
