---
layout: default
_hidden_community: true
page_title: Yogismile Community
permalink: /community
banner_heading: Yogismile Community Events
banner_image: /assets/images/srcset/2000/claudia-neumann-yoga-120.jpg
confirmation-button_url: 'https://www.fyndery.de/muenchen/kurs/700/yoga-meets-wellness/?ref=729'
event-location_url: 'https://goo.gl/maps/zhSKF67vfEjkrnHw6'
event-map_embed_code_block: >-
  <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.536533969211!2d11.584835315153175!3d48.177013079226576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e7434450d96d5%3A0x67159d7f5ae0d116!2sWilhelm-Hertz-Stra%C3%9Fe%2018%2C%2080805%20M%C3%BCnchen!5e0!3m2!1sen!2sde!4v1601199606906!5m2!1sen!2sde"
  width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
  aria-hidden="false" tabindex="0"></iframe>
add_testimonials: false
add_video: false
feature-video_url:
facilitators:
  - name: Claudia
    thumb_image: /assets/images/srcset/480/claudia-neumann-yoga-002.jpg
    bio_html: >-
      <p>Yogini, office worker, health coach, free spirit - I do what makes me
      happy and I can help you to feel the same!</p>
---

<main class="community-page">
  <section class="community-intro">
    <div class="flex-center bg-primary padding-outer">
      <p class="center editable">
 	My Mission: to make yoga a mindfulness practice affordable and accessible to all! No paid subscriptions or membership dues, just you, your mat and a bottle of water! I do not ask for money, however I do accept donations that most likely will be donated to non-profit organizations. I'll try to make everyone comfortable and safe within their skill level and ability to do yoga. No one is required to do or to try any pose, and everyone is expected to practice safety and to stay within their own physical limits. The benefits from practicing yoga do not require competition or perfection. The benefits from practicing yoga come from maintaining and enhancing your body's ability to move, to stay flexible, and to experience the free flow of energy &amp; light within. Namaste
 </p>
    </div>
  </section>
  <section class="padding-outer event-description bg-dark">
    <div class="center">
      <h3 class="center editable">
 	This week's event:
 </h3>
      <hr />
      <h2 class="center editable">
 	beauty meets yoga&nbsp;<br />in Munich
 </h2>
      <p class="center editable">
 	As if yoga wouldn't be relaxing enough let's expand our self love and have a beauty face mask afterwards!<br /><br />Start your weekend with a healthy smoothie, followed by a powerful vinyasa yoga class, suitable for all levels, nourish yourself with an aloe vera tea and a wonderful beauty face masks afterwards.<br /><br />Curious? You'll find more details when you click the RSVP button.
 </p>
      <a href="{{page.confirmation-button_url}}" class="learn-more-button">

          RSVP now

      </a>
    </div>
  </section>
</main>

<section class="community-page">
  <div class="grid-noGutter-spaceAround">
    <h2 class="editable col-12 center">
 	Facilitators
 </h2>
    {% for facilitator in page.facilitators %}
    <div class="col-3_md-6_sm-9 facilitator">
      <div class="center facilitator-card">
        <div class="facilitator-thumb">
          <img data-src="{{facilitator.thumb_image}}" class="responsive-img lazyload" alt="{{facilitator.name}}" />
        </div>
        <h3>
          {{facilitator.name}}
        </h3>
        
          {{facilitator.bio_html}}
        
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="bg-primary-shade flex-center">
  <div class="practical-info center">
    <h2 class="editable center">
 	Practical info
 </h2>
    <h3 class="center editable">
 	Dates: 3 October 2020
 </h3>
    <h3 class="center editable">
 	Times: 10 AM to 3 PM
 </h3>
    <h3 class="center editable">
 	<a href="https://goo.gl/maps/2hvwNPjKZEsV44qJ9">Location: </a>&nbsp;Wilhelm-Hertz-Stra&szlig;e 18, 80805 Munich
 </h3>
    <a href="https://www.fyndery.de/muenchen/kurs/700/yoga-meets-wellness/?ref=729" class="learn-more-button editable" target="_blank"> Let's do it! </a>
  </div>
</section>
<map class="map">
  {{page.event-map_embed_code_block}}
</map>

{% if page.add_testimonials == true %}
  {% include testimonials.html %}
{% endif %}

{% if page.add_video %}
  {% include feature-video.html%}
{% endif %}
