---
layout: default
page_title: Retreats
banner_image: /assets/images/srcset/480/claudia-neumann-yoga-021.jpg
banner_heading: Retreats
permalink: /retreats
_hidden_header: retreats
location-1-name: Portugal
location-1-thumbnail_image: /assets/images/srcset/480/claudia-neumann-yoga-187.jpg
location-1-overview: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
location-1-target_url: /retreats/portugal-2020
location-2-name: Morrocco
location-2-thumbnail_image: /assets/images/srcset/480/claudia-neumann-yoga-188.jpg
location-2-overview: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
location-2-target_url: /retreats/morrocco-2021
location-3-name: Bali
location-3-thumbnail_image: /assets/images/srcset/480/claudia-neumann-yoga-181.jpg
location-3-overview: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
location-3-target_url: /retreats/bali-2021
add_testimonials: false
---

<main class="retreats-background">
  <section class="padding-inner">
    <div class="retreats-intro">
      <img src="/assets/graphics/om-symbol.svg" alt="Om Symbol Claudia Neumann yoga">
      <p class="editable"> The retreats I've selected provide the perfect opportunity to reset from the routine and reconnect with yourself - and others. The locations we will visit are full of culture and new experiences: have a look and find your perfect fit! </p>
    </div>
  </section>
  <hr>
  <section class="retreats-showcase">
    <div class="grid-noGutter-spaceBetween center">

      {% for retreat in site.retreats %}
        {% if retreat.display == true %}
          {% include retreat-card.html %}
        {% endif %}
      {% endfor %}

    </div>
  </section>
</main>

{% if page.add_testimonials == true %}
{% include testimonials.html %}
{% endif %}

<section class="highlights">
  <div class="padding-inner">
    <div class="grid-noGutter">
      <div class="col-12 center">
        <h2 class="editable">
          Explore the locations
        </h2>
      </div>
      <a href="{{page.location-1-target_url}}#location" class="col-6_md-12-middle">
        <div class="padding-side-5">
          <div class="location-thumb-large flex-center">
            <picture>
              <source data-srcset="{{page.location-1-thumbnail_image | replace: "480", "800"}}" media="(min-width: 800px)">
              <source data-srcset="{{page.location-1-thumbnail_image | replace: "480", "800"}}" media="(min-width: 768px)">
              <source data-srcset="{{page.location-1-thumbnail_image | replace: "480", "600"}}" media="(min-width: 600px)">
              <img data-src="{{page.location-1-thumbnail_image}}" class="responsive-img lazyload zoom" alt="">
            </picture>

            <h3>
              {{page.location-1-name}}
            </h3>
          </div>
        </div>
      </a>
      <div class="col-6_md-12 grid-spaceAround-noGutter">
        <a href="{{page.location-2-target_url}}#location" class="col-12">
          <div class="">
            <div class="location-thumb flex-center">
              <picture>
                <source data-srcset="{{page.location-2-thumbnail_image | replace: "480", "800"}}" media="(min-width: 800px)">
                <source data-srcset="{{page.location-2-thumbnail_image | replace: "480", "800"}}" media="(min-width: 768px)">
                <source data-srcset="{{page.location-2-thumbnail_image | replace: "480", "600"}}" media="(min-width: 600px)">
                <img data-src="{{page.location-2-thumbnail_image}}" class="responsive-img lazyload zoom" alt="">
              </picture>

              <h3>
                {{page.location-2-name}}
              </h3>
            </div>
          </div>
        </a>
        <a href="{{page.location-3-target_url}}#location" class="col-12-bottom">
          <div class="">
            <div class="location-thumb flex-center">
              <picture>
                <source data-srcset="{{page.location-3-thumbnail_image | replace: "480", "800"}}" media="(min-width: 800px)">
                <source data-srcset="{{page.location-3-thumbnail_image | replace: "480", "800"}}" media="(min-width: 768px)">
                <source data-srcset="{{page.location-3-thumbnail_image | replace: "480", "600"}}" media="(min-width: 600px)">
                <img data-src="{{page.location-3-thumbnail_image}}" class="responsive-img lazyload zoom" alt="">
              </picture>

              <h3>
                {{page.location-3-name}}
              </h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
