---
layout: default
page_title: Retreats
banner_image: /assets/images/srcset/480/claudia-neumann-yoga-021.jpg
banner_heading: Retreats
permalink: /retreats
_hidden_header: retreats
location-1-name: Turkey
location-1-thumbnail_image: /assets/images/srcset/480/Turkey Location.jpg
location-1-overview: >-
  Turkey is a country that occupies a unique geographic position, lying partly
  in Asia and partly in Europe. Throughout its history it has acted as both a
  barrier and a bridge between the two continents. Turkey is situated at the
  crossroads of the Balkans, Caucasus, Middle East, and eastern Mediterranean.
  It is among the larger countries of the region in terms of territory and
  population, and its land area is greater than that of any European state.
  Nearly all of the country is in Asia, comprising the oblong peninsula of Asia
  Minor—also known as Anatolia (Anadolu)—and, in the east, part of a mountainous
  region sometimes known as the Armenian Highland. The remainder—Turkish Thrace
  (Trakya)—lies in the extreme southeastern part of Europe, a tiny remnant of an
  empire that once extended over much of the Balkans. The country has a
  north-south extent that ranges from about 300 to 400 miles (480 to 640 km),
  and it stretches about 1,000 miles from west to east. Turkey is bounded on the
  north by the Black Sea, on the northeast by Georgia and Armenia, on the east
  by Azerbaijan and Iran, on the southeast by Iraq and Syria, on the southwest
  and west by the Mediterranean Sea and the Aegean Sea, and on the northwest by
  Greece and Bulgaria. The capital is Ankara, and its largest city and seaport
  is Istanbul. Of a total boundary length of some 4,000 miles (6,440 km), about
  three-fourths is maritime, including coastlines along the Black Sea, the
  Aegean, and the Mediterranean, as well as the narrows that link the Black and
  Aegean seas. These narrows—which include the Bosporus, the Sea of Marmara, and
  the Dardanelles—are known collectively as the Turkish straits; Turkey’s
  control of the straits, the only outlet from the Black Sea, has been a major
  factor in its relations with other states. Most of the islands along the
  Aegean coast are Greek; only the islands of Gökçeada and Bozcaada remain in
  Turkish hands. The maritime boundary with Greece has been a source of dispute
  between the two countries on numerous occasions since World War II. We are
  going to sail close to the Greek border along the Turkish side and explore all
  these ancient sites.
location-1-target_url: /retreats/turkey-2020
location-2-name: Morrocco
location-2-thumbnail_image: /assets/images/srcset/2000/Dessert.jpg
location-2-overview: >-
  Hosting the largest dessert in the world Marocco is such a diverse country.
  There's great surf opportunities on the coast and the opportunity to get lost
  in space or to feel like you walk on another planet in the Sahara dessert.
  Marrakesh is it's capital.
location-2-target_url: /retreats/morrocco-2021
location-3-name: Bali
location-3-thumbnail_image: /assets/images/srcset/480/claudia-neumann-yoga-181.jpg
location-3-overview: >-
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
  aliquip ex ea commodo consequat.
location-3-target_url: /retreats/bali-2021
add_testimonials: false
---

<main class="retreats-background">
  <section class="padding-inner">
    <div class="retreats-intro">
      <img src="/assets/graphics/om-symbol.svg" alt="Om Symbol Claudia Neumann yoga" />
      <p class="editable"> The retreats I've selected provide the perfect opportunity to reset from the routine and reconnect with yourself - and others. The locations we will visit are full of culture and new experiences: have a look and find your perfect fit! </p>
    </div>
  </section>
  <hr />
  <section class="retreats-showcase">
    <div class="grid-noGutter-spaceBetween center">
      {% assign retreats = (site.retreats | sort: 'date') | reverse %}
      {% for retreat in retreats %}
        {% if retreat.display == true %}
          {% include retreat-card.html %}
        {% endif %}
      {% endfor %}

    </div>
  </section>
</main>

{% if page.add_testimonials == true %}
{% include testimonials.html %}
{% endif %}

<section class="highlights">
  <div class="padding-inner">
    <div class="grid-noGutter">
      <div class="col-12 center">
        <h2 class="editable">
          Explore the locations
        </h2>
      </div>
      <a href="{{page.location-1-target_url}}#location" class="col-6_md-12-middle">
        <div class="padding-side-5">
          <div class="location-thumb-large flex-center">
            <picture>
              <source data-srcset="{{page.location-1-thumbnail_image | replace: "480", "800"}}" media="(min-width: 800px)" />
              <source data-srcset="{{page.location-1-thumbnail_image | replace: "480", "800"}}" media="(min-width: 768px)" />
              <source data-srcset="{{page.location-1-thumbnail_image | replace: "480", "600"}}" media="(min-width: 600px)" />
              <img data-src="{{page.location-1-thumbnail_image}}" class="responsive-img lazyload zoom" alt="" />
            </picture>

            <h3>
              {{page.location-1-name}}
            </h3>
          </div>
        </div>
      </a>
      <div class="col-6_md-12 grid-spaceAround-noGutter">
        <a href="{{page.location-2-target_url}}#location" class="col-12">
          <div>
            <div class="location-thumb flex-center">
              <picture>
                <source data-srcset="{{page.location-2-thumbnail_image | replace: "480", "800"}}" media="(min-width: 800px)" />
                <source data-srcset="{{page.location-2-thumbnail_image | replace: "480", "800"}}" media="(min-width: 768px)" />
                <source data-srcset="{{page.location-2-thumbnail_image | replace: "480", "600"}}" media="(min-width: 600px)" />
                <img data-src="{{page.location-2-thumbnail_image}}" class="responsive-img lazyload zoom" alt="" />
              </picture>

              <h3>
                {{page.location-2-name}}
              </h3>
            </div>
          </div>
        </a>
        <a href="{{page.location-3-target_url}}#location" class="col-12-bottom">
          <div>
            <div class="location-thumb flex-center">
              <picture>
                <source data-srcset="{{page.location-3-thumbnail_image | replace: "480", "800"}}" media="(min-width: 800px)" />
                <source data-srcset="{{page.location-3-thumbnail_image | replace: "480", "800"}}" media="(min-width: 768px)" />
                <source data-srcset="{{page.location-3-thumbnail_image | replace: "480", "600"}}" media="(min-width: 600px)" />
                <img data-src="{{page.location-3-thumbnail_image}}" class="responsive-img lazyload zoom" alt="" />
              </picture>

              <h3>
                {{page.location-3-name}}
              </h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
