---
layout: default
page_title: Yoga Practices
permalink: /yoga
banner_heading: Yoga practices
banner_image: /assets/images/srcset/2000/claudia-neumann-yoga-114.jpg
add_banner_button: true
banner-cta-button_url: '#schedule'
banner-cta-button_text: Class schedule
feature-box-1_image: /assets/images/srcset/2000/claudia-neumann-yoga-146.jpg
feature-box-1-title: Corporate
feature-box-1_url: /yoga/corporate-yoga
feature-box-2_image: /assets/images/srcset/2000/claudia-neumann-yoga-086.jpg
feature-box-2-title: Vinyasa
feature-box-2_url: /yoga/vinyasa-yoga
feature-box-3_image: /assets/images/srcset/2000/claudia-neumann-yoga-088.jpg
feature-box-3-title: Yin
feature-box-3_url: /yoga/yin-yoga
private-session_image: /assets/images/srcset/2000/claudia-neumann-yoga-154.jpg
---

<main>
  <section class="intro-section padding-outer">
    <div class="flex-center grid-noGutter">
      <div class="col-12 center">
        <h2 class="editable">
          The journey inwards.
        </h2>
        <p class="editable">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </section>
</main>

{% include triple-feature.html %}

{% include full-schedule-list.html %}

{% include community-section.html %}

<section class="grid-noGutter padding-outer section-feature bg-light flex-right">
  <div class="col-6_md-12 section-lg-feature-image">
    <img src="{{page.private-session_image}}" class="responsive-img" alt="" />
  </div>
  <div class="col-6_md-12 section-feature-content">
    <div class="padding-outer center">
      <h2 class="editable">
        Private sessions
      </h2>
      <p class="editable">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <p class="editable">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
      <p class="editable">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a href="/yoga/private-session" class="learn-more-button editable">

          Why private sessions?

      </a>
    </div>
  </div>
</section>
