<!DOCTYPE html>

<html lang="en" dir="ltr">
{% include head-blog.html %}
<body>
  <header class="center">
    <a href="/blogs">
      <img src="/assets/images/yogismile-logo.png" style="width:10rem;" alt="">
      <h2 class="logo padded-1">
        Yogismile by Claudia Neumann
      </h2>
    </a>
    <nav>

      {% for category in site.categories %}
      {% capture category_name %}
      {{category | first }}
      {% endcapture %}

      <a href="/categories/#{{ category_name | slugify }}"> {{ category_name }} </a>
      {% endfor %}

      <a href="/">
        To main site
      </a>

    </nav>
  </header>
  <section class="blog-latest padded-outer">
    <div class="blog-latest-banner" style="height: 300px; width: 90%; margin: auto;">
      <h3>
        {% if page._hidden_blog == home %}
        {{page.date | date_to_string}}
        {% else %}
        {{site.posts.last.date | date_to_string}}
        {% endif %}
      </h3>
      <h2>
        {% if page._hidden_blog == home %}
        {{page.title}}
        {% else %}
        {{site.posts.last.title}}
        {% endif %}
      </h2>
      <a href="{% if page._hidden_blog == home %} {{page.url}} {% else %} {{site.posts.last.url}}  {% endif %}" class="learn-more-button">
        <h4>
          Read more
        </h4>
      </a>
      <img src="{% if page._hidden_blog == home %} {{page.banner_image}} {% else %} {{site.posts.last.banner_image}} {% endif %}" class="responsive-img" alt="">
    </div>
  </section>
  <main>
    <section class="padding-outer">
      <div class="grid-noGutter-spaceAround padding-inner">
        <div class="col-7_sm-9-middle grid-noGutter-spaceAround">
          <div class="col-12">
            {{content}}
          </div>
        </div>
        <!-- Author column -->
        <div class="col-5_sm-3 grid-noGutter about-column">
          <div class="padding-outer">
            <div class="blog-author">
              <!-- image as div background image on CSS -->
            </div>
            <div class="col-12 tag-box">
              <div class="padding-inner">
                <h3>
                  Tags
                </h3>
                {% for tag in site.tags %}
                {% capture tag_name %}
                {{tag | first }}
                {% endcapture %}

                <a href="/tags/#{{ tag_name | slugify }}"> {{ tag_name }} </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
