---
layout: default
---

<main>
  <section class="intro-section padding-outer bg-light">
    <div class="flex-center grid-noGutter">
      <div class="col-12">
        <div class="highlight-icon">
          <img src="/assets/graphics/healing-hands-02.svg" alt="" />
        </div>
      </div>
      <div class="col-12 center">
        <h2 class="editable">
 	Overview
 </h2>
        {{content}}
      </div>
    </div>
  </section>
  
</main>
{% include highlights.html %}
<section>
  <div class="padding-outer center">
    <h3 class="editable">
 	Additional benefits
 </h3>
    <div class="grid-noGutter">
      <div class="col-6_sm-12">
        <ul>
          <li class="editable">&nbsp;It is 100% safe</li><li class="editable"> Improves overall Quality of Life</li><li class="editable"> Some content here </li><li class="editable"> Some content here </li>
        </ul>
      </div>
      <div class="col-6_sm-12">
        <ul>
          <li class="editable"> Some content here </li><li class="editable"> Some content here </li><li class="editable"> Some content here </li><li class="editable"> Some content here </li>
        </ul>
      </div>
  </div>
  </div>
</section>

{% if page.add_testimonials == true %}
  {% include testimonials.html %}
{% endif %}

{% include info-box.html %}

<!-- CTA section -->
<section class="cta-section bg-primary">
  <div class="flex-center half-height">
    <div class="cta-section-content center">
      <h2 class="editable">
 	Schedule session now
 </h2>
      <p class="editable">
 	Are you interested in having a 1:1 Reiki Energy Healing session? I see clients for healing sessions in Munich in person, and also do Distant Healing for people all around the world. Simply press the button below to schedule a convenient time.
 </p>
      {% include banner-cta-button.html %}
    </div>
  </div>
  <div class="cta-form">
    <div class="content-cta-form">
      <p class="editable">
 	Not sure if this therapy is for you? Still have some questions about the process? Do you have specific requests? Contact me and we will go through all your questions:
 </p>
      <form id="offering_contact_form" action="/thank-you" method="get">
        <input type="text" name="name" placeholder="NAME" />
        <input type="email" name="email" placeholder="EMAIL" />
        <input type="textarea" name="message" placeholder="MESSAGE" class="message" />
        <input type="submit" name="button" value="Send" class="form-send-button" />
      </form>

    </div>
  </div>
</section>
