---
layout: default
---
<main>
  <section class="intro-section padding-outer bg-light">
    <div class="flex-center grid-noGutter">
      <div class="col-12 center">
        <h2 class="editable">
          Overview
        </h2>
          {{content}}
      </div>
    </div>
  </section>
</main>

{% include highlights.html %}

{% if page.add_testimonials == true %}
  {% include testimonials.html %}
{% endif %}

{% include info-box.html %}

<!-- CTA section -->
<section class="cta-section bg-dark">
  <div class="flex-center half-height">
    <div class="cta-section-content center">
      <h2 class="editable">
        Schedule session now
      </h2>
      <p class="editable">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
      {% include banner-cta-button.html %}
    </div>
  </div>
  <div class="cta-form">
    <p class="editable">
      Not sure if this therapy is for you? Still have some questions about the process? Do you have specific requests? Contact me and we will go through all your questions:
    </p>
    <form action="index.html" method="post">
      <input type="text" name="name" placeholder="NAME" />
      <input type="email" name="email" placeholder="EMAIL" />
      <input type="textarea" name="message" placeholder="MESSAGE" class="message">
      <button type="button" name="button" class="form-send-button">
        Join me
      </button>
    </form>
  </div>
</section>
