---
layout: default
---

<!-- Later make this an include with Liquid tags on classes to differentiate Yoga from Retreat -->
<main>
  <section>
    <div class="grid-noGutter">
      <div class="col-6_sm-12-middle overview">
        <div class="padding-outer center">
          <h3>
            Overview
          </h3>
          {{ content }}
        </div>
      </div>
      <div class="col-6_sm-12 flex-center overview-img-box">
        <img src="{{page.box-1_image}}" alt="">
      </div>
    </div>
    {% include info-box.html %}
  </section>
</main>
{% if page.add_testimonials == true %}
  {% include testimonials.html %}
{% endif %}

<!-- FAQ section -->
<section class="grid-noGutter-spaceAround">
  <div class="col-6_md-12 faqs-section">
    <div class="padding-outer">
      {% for faq in page.faqs %}
        {% case faq._id %}
          {% when 'faq' %}
            {% include faq-accordion.html faq=faq %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
  <div class="col-6_md-12-middle flex-center">
    <h2>
      FAQ
    </h2>
  </div>
</section>

<section id="location"class="location-highlights">
  <div class="full-width-banner">
    <img src="{{page.location-highlights-background_image}}" alt="{{page.location-highlights-background-image-alt-text}}" class="responsive-banner-image">
    <div class="padding-outer">
      <div class="full-width-banner-content padding-inner">
        <h2>
          About {{page.retreat-location}}
        </h2>
        <p>
          {{page.location-description_html}}
        </p>
        <h3>
          Highlights
        </h3>
        <h4>
          {{page.highlight-1}}
        </h4>
        <h4>
          {{page.highlight-2}}
        </h4>
        <h4>
          {{page.highlight-3}}
        </h4>
      </div>
    </div>
  </div>
</section>

<!-- CTA section -->
<section class="cta-section bg-secondary">
  <div class="flex-center half-height">
    <div class="cta-section-content center">
      <h2>
        Join me now
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
      {% include banner-cta-button.html %}
    </div>
  </div>
</section>
