---
layout: default
---

<main>
  <section class="bg-light">
    <div class="grid-noGutter">
      <div class="col-6_sm-12-middle overview">
        <div class="padding-outer center">
          <h3 class="editable">
            Overview
          </h3>
          {{content}}
        </div>
      </div>
      <div class="col-6_sm-12 flex-center overview-img-box mobile-hide">
        <span class="gradient-r-l mobile-hide"></span>
        <picture>
          <source srcset="{{page.box-1_image | replace: "480", "600"}}" media="(max-width: 600px)" />
          <source srcset="{{page.box-1_image | replace: "480", "800"}}" media="(max-width: 800px)" />
          <source srcset="{{page.box-1_image | replace: "480", "2000"}}" media="(min-width: 801px)" />
          <img src="{{page.box-1_image}}" class="responsive-img" alt="{{page.box-1-image-alt-text}}" />
        </picture>
      </div>
    </div>
    {% include info-box.html%}
  </section>
</main>

{% if page.add_testimonials == true %}
  {% include testimonials.html %}
{% endif %}

{% if page.add_schedule == true %}
  {% include yoga-schedule-list.html %}
{% endif %}

{% if page.show_private_section == false %}
      {% include private-session-section.html %}
{% elsif page.show_private_section == true %}
      {% include book-private-session.html %}
{% endif %}
