---
---
// Main SCSS file
@import "_resets";
@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

$primary-color: {{site.data.settings.colors.primary_color}};
$primary-shade: lighten($primary-color, 30);
$accent-color: {{site.data.settings.colors.accent_color}};
$accent-shade: lighten($accent-color, 10);
$dark-color: {{site.data.settings.colors.dark_color}};
$light-color: {{site.data.settings.colors.light_color}};

$header-font-family: {{site.data.settings.fonts.header_font_family}};
$paragraph-font-family: {{site.data.settings.fonts.paragraph_font_family}};

$light_font: {{site.data.settings.fonts.light_font}};
$regular_font: {{site.data.settings.fonts.regular_font}};
$bold_font: {{site.data.settings.fonts.bold_font}};
$extra_bold_font: {{site.data.settings.fonts.extra_bold_font}};

// font sizes
$heading1-font-size: {{site.data.settings.fonts.heading1-font-size}};
$heading2-font-size: {{site.data.settings.fonts.heading2-font-size}};
$heading3-font-size: {{site.data.settings.fonts.heading3-font-size}};
$paragraph-font-size: {{site.data.settings.fonts.paragraph-font-size}};
$paragraph-line-height: {{site.data.settings.fonts.paragraph-line-height}};
$cta-button-font-size: {{site.data.settings.buttons.cta-button-font-size}};
$learn-more-button-font-size: {{site.data.settings.buttons.learn-more-button-font-size}};
$button-border-radius: {{site.data.settings.buttons.button-border-radius}};

@import "_universal",
        "_utility",
        "_navbar",
        "_buttons",
        "_header",
        "_footer",
        "_intro-section",
        "_triple-features",
        "_upcoming-retreat",
        "_community-section",
        "_schedule-calendar",
        "_info-box",
        "_faqs",
        "_testimonials",
        "_all-retreats",
        "_cta-section",
        "_about",
        "_offerings",
        "_community-page",
        "_blog",
        "_pages",
        "_media-queries";
